- extends "base.html"

- load smartmin i18n

- block login

- block content
  .section
    %h1{:class => "title"}
      - trans "Sign in"

  %form#login-form.generic-form.left-p-10.top-p-0{method:"post"}
    - for field, errors in form.errors.items
      - if field == '__all__'
        %article.message.is-danger.left-m-10
          .message-body
            %h3
              Error
            {{ errors }}

    .column.is-5.center-form
      %fieldset
        - for field in form
          .field{class:"{% if field.error %}has-error{% endif %}"}
            %label.label{for:"={ field.name }"}
              {{ field.label }}

              {{ field|add_css:"input" }}

            - if field.error
              %span.help-block
                {{ field.error }}
        - csrf_token
        %button.button.is-primary.login-btn{ type:"submit"}
          - trans "Login"
        - if allow_email_recovery
          %span.is-pulled-right
            %a{ href:"{% url 'users.user_forget' %}"}
              - trans "Forgot Password?"