{% extends "base.html" %}
{% load i18n static sass_tags %}

{% block nav_item %}page-surveys{% endblock %}

{% block css_extra %}
<link rel="stylesheet" href="{% sass_src 'plugins/choices/choices.scss' %}">
<link rel="stylesheet" href="{% sass_src 'css/polls/survey_form.scss' %}">
<link rel="stylesheet" href="{% sass_src 'plugins/tooltip/tooltip.scss' %}">
<link rel="stylesheet" href="{% static 'plugins/checkbox/checkbox.min.css' %}">
{% endblock %}

{% block content %}
<section class="section top-p-0 bottom-p-0">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'polls.poll_list' %}">{% trans 'Surveys' %}</a></li>
      <li class="is-active"><a href="#" aria-current="page">{{ page_subtitle }}</a></li>
    </ul>
  </nav>
</section>

<section class="section">
  <h1 class="title">{% trans "Surveys" %}</h1>
  <h2 class="subtitle">{{ page_subtitle }}</h2>
</section>

<section class="section">
  <div class="columns">
    <div class="column">
      <div class="columns tabs">
        <div class="column tab">{% trans "1 General" %}</div>
        <div class="column tab">{% trans "2 Date Setting" %}</div>
        <div class="column tab is-active">{% trans "3 Survey Questions" %}</div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column box is-paddingless">
      <form class="generic-form questions p-10" method="post">
        {% csrf_token %}
        <h1 class="title p-30 bottom-m-0">{% trans "Survey Questions" %}</h1>
        {% for field in form %}
          {% if field.field.widget.input_type == "hidden" %}
            <div class="question left-p-30 right-p-30 top-p-20 bottom-p-20">
              <div class="question__number">{{ field.label }}</div>
              <div class="question__title">{{ field.value }}</div>
              {{ field }}
            </div>
          {% endif %}

          {% if field.field.widget.input_type != "hidden" %}
          <div class="field left-p-30 right-p-30 top-p-20">
            {% if field.field.widget.input_type != 'checkbox' %}
            <label class="label" for="{{ field.auto_id }}">
              {{ field.label }}
              {% if field.label == 'Question' %}
                <span class="tooltip top left-m-10">
                  <i class="material-icons info-icon">info</i>
                  <span class="tooltip-content">{% trans "You can change the tittle to appear diferently from the RapidPro version" %}</span>
                </span>
              {% endif %}
            </label>
            {% endif %}

            <div class="{% if field.field.widget.input_type == 'select' %}is-fullwidth{% else %}control{% endif %}">
              {{ field }}
              {% if field.field.widget.input_type == 'checkbox' %}
              <label class="label" for="{{ field.auto_id }}">{{ field.label }}</label>
              {% endif %}
            </div>
          </div>
          {% endif %}
          {% if field.label == 'Display' %}
            <hr class="top-m-40 bottom-m-40">
          {% endif %}
        {% endfor %}
        <div class="columns wrapper-buttons left-p-30 right-p-30 bottom-p-30">
          <div class="column">
            <div class="flex flex-end">
              <a href="{% url 'polls.poll_poll_date' poll.id %}" class="button primary-reverse right-m-5">{% trans "Back" %}</a>
              <button type="submit" class="button is-primary">{% trans "Save" %}</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}

{% block js_extra %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/scripts/choices.min.js"></script>
<script type="text/javascript">
$("select").each(function() {
  /*if($(this).hasClass("send-message")){
    return;
  };*/

  let id = $(this).attr("id");
  new Choices("#" + id, {
    removeItemButton: true,

    sorter: function(a, b) {
      return a.id > b.id;
    },

    callbackOnCreateTemplates: function (template) {
      return {
        item: (classNames, data) => {
          return template(`
            <div class="${classNames.item} tag-sdg-${data.value} ${data.highlighted ? classNames.highlightedState : classNames.itemSelectable}" data-item data-id="${data.id}" data-value="${data.value}" ${data.active ? 'aria-selected="true"' : ''} ${data.disabled ? 'aria-disabled="true"' : ''}>${data.value} ${data.label}<button type="button" class="choices-button-close" data-button="" aria-label="Remove item: '${data.value}'">X</button>
          `);
        },
        choice: (classNames, data) => {
          return template(`
            <div class="${classNames.item} ${classNames.itemChoice} ${
              data.disabled ? classNames.itemDisabled : classNames.itemSelectable
            }" data-select-text="${this.config.itemSelectText}" data-choice ${
              data.disabled
                ? 'data-choice-disabled aria-disabled="true"'
                : 'data-choice-selectable'
            } data-id="${data.id}" data-value="${data.value}" ${
              data.groupId > 0 ? 'role="treeitem"' : 'role="option"'
            }>
              ${data.value} - ${data.label}
            </div>
          `);
        },
      };
    }
  });
});

{% for field, errors in form.errors.items %}{% for error in errors %}{% if error %}
bulmaToast.toast({
  message: "{{ error }}",
  type: "is-danger",
  position: "top-center",
  closeOnClick: true,
  dismissible: true
});
{% endif %}{% endfor %}{% endfor %}
</script>
{% endblock %}
