{% extends "base.html" %}
{% load i18n static sass_tags %}

{% block nav_item %}page-surveys{% endblock %}

{% block css_extra %}
  <link rel="stylesheet" href="{% sass_src 'css/polls/survey_form.scss' %}">
  <link rel="stylesheet" href="{% sass_src 'plugins/choices/choices.scss' %}">
  <link rel="stylesheet" href="{% static 'plugins/checkbox/checkbox.min.css' %}">
{% endblock %}

{% block content %}
<section class="section">
  <h1 class="title">{% trans "Surveys" %}</h1>
</section>

<section class="section">
  <div class="columns">
    <div class="column">
      <div class="columns tabs">
        <div class="column tab is-active">{% trans "1 General" %}</div>
        <div class="column tab">{% trans "2 Date Setting" %}</div>
        <div class="column tab">{% trans "3 Questions" %}</div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column box is-paddingless">
      <form class="generic-form" method="post">
        {% csrf_token %}
        {{ form.errors }}
        <h1 class="title">{% trans "General Information" %}</h1>
        <h2 class="subtitle has-text-grey-dark">{% trans "Fill the fields below" %}</h2>

        {% if form.flow_uuid %}
        <div class="field">
          <label class="label">{{ form.flow_uuid.label }}</label>
          <div class="select is-fullwidth">
            {{ form.flow_uuid }}
            {{ form.flow_uuid.errors }}
          </div>
          <p>
            <a href="https://rapidpro.ilhasoft.mobi" target="_blank" rel="noopener noreferrer">{% trans "Create a new flow on RapidPro" %}</a>
          </p>
        </div>
        {% endif %}

        <div class="field">
          <label class="label">{{ form.title.label }}</label>
          <div class="control">
              {{ form.title }}
              {{ form.title.errors }}
          </div>
        </div>

        <div class="field">
          <label class="label">{{ form.response_content.label }}</label>
          <div class="control">
              {{ form.response_content }}
              {{ form.response_content.errors }}
          </div>
        </div>

        {% if form.is_active %}
          <div class="control">
            {{ form.is_active }}
            <label class="label" for="{{ form.is_active.auto_id }}">{{ form.is_active.label }}</label>
          </div>
          <p class="help">{{ field.help_text }}</p>
        {% endif %}

        <div class="columns wrapper-buttons">
          <div class="column">
            <button type="submit" class="button is-primary is-pulled-right">{% trans "Save" %}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}

{% block js_extra %}
<script src="{% static 'js/forms/errors.js' %}"></script>
{% for field in form.errors %}
  setErrors('{{field}}');
{% endfor %}
</script>
{% endblock %}
