{% extends "base.html" %}
{% load i18n static sass_tags %}

{% block nav_item %}page-surveys{% endblock %}

{% block css_extra %}
  <link rel="stylesheet" href="{% sass_src 'css/polls/survey_form.scss' %}">
  <link rel="stylesheet" href="{% sass_src 'plugins/choices/choices.scss' %}">
  <link rel="stylesheet" href="{% static 'plugins/checkbox/checkbox.min.css' %}">
{% endblock %}

{% block content %}
<section class="section top-p-0 bottom-p-0">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'polls.poll_list' %}">{% trans 'Surveys' %}</a></li>
      <li class="is-active"><a href="#" aria-current="page">{{ page_subtitle }}</a></li>
    </ul>
  </nav>
</section>

<section class="section">
  <h1 class="title">{% trans "Surveys" %}</h1>
  <h2 class="subtitle">{{ page_subtitle }}</h2>
</section>

<section class="section">
  <div class="columns">
    <div class="column">
      <div class="columns tabs">
        <div class="column tab is-active">{% trans "1 General" %}</div>
        <div class="column tab">{% trans "2 Date Setting" %}</div>
        <div class="column tab">{% trans "3 Questions" %}</div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column box is-paddingless">
      <form class="generic-form" method="post">
        {% csrf_token %}
        {{ form.errors }}
        <h1 class="title">{% trans "General Information" %}</h1>
        <h2 class="subtitle has-text-grey-dark">{% trans "Fill the fields below" %}</h2>

        {% if form.flow_uuid %}
        <div class="field" id="field-flow-uuid">
          <label class="label">{{ form.flow_uuid.label }}</label>
          <div class="select is-fullwidth">
            {{ form.flow_uuid }}
            {{ form.flow_uuid.errors }}
          </div>
          <p>
            <a href="https://rapidpro.ilhasoft.mobi" target="_blank" rel="noopener noreferrer">{% trans "Create a new flow on RapidPro" %}</a>
          </p>
        </div>
        {% endif %}

        <div class="field">
          <label class="label">{{ form.title.label }}</label>
          <div class="control">
              {{ form.title }}
              {{ form.title.errors }}
          </div>
        </div>

        <div class="field">
          <label class="label">{{ form.response_content.label }}</label>
          <div class="control">
              {{ form.response_content }}
              {{ form.response_content.errors }}
          </div>
        </div>

        {% if form.is_active %}
          <div class="control">
            {{ form.is_active }}
            <label class="label" for="{{ form.is_active.auto_id }}">{{ form.is_active.label }}</label>
          </div>
          <p class="help">{{ field.help_text }}</p>
        {% endif %}
        <div class="columns wrapper-buttons">
          <div class="column">
            <div class="flex flex-end">
              <a href="{% url 'polls.poll_list' %}" class="button primary-reverse right-m-5">{% trans "Cancel" %}</a>
              <button type="submit" class="button is-primary" id="button-submit">{% trans "Next" %}</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}

{% block js_extra %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="{% static 'js/forms/errors.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
  if ($("#flow_uuid").is(":hidden")){
    $("#field-flow-uuid").css("display", "none");
  }

  const surveys_global = [];
  {% for survey in global_survey %}
    surveys_global[{{ survey.pk }}] = "{{ survey.description|linebreaksbr }}";
  {% endfor %}

  $("#id_connect_global").click(function() {
    if ($(this).is(":checked")) {
      $("#select_global_survey").removeClass("is-hidden");
      $("#id_global_survey").attr("required", true);
    } else {
      $("#select_global_survey").addClass("is-hidden");
      $("#id_global_survey").attr("required", false);
      $("#global_survey_description").html("");
      $("#global_description").addClass("is-hidden");
      $("#id_global_survey").val("");
    }
  });

  $("#id_global_survey").change(function() {
    let id = parseInt($("#id_global_survey option:selected").val());
    $("#global_survey_description").html("");
    $("#global_description").addClass("is-hidden");
    if (id) {
     var survey_description = surveys_global[id] != undefined ? surveys_global[id] : "No description";
     $("#global_survey_description").html(survey_description);
     $("#global_description").removeClass("is-hidden");
    }
  });

  {% if form.connect_global.value %}
    $("#id_global_survey").attr("required", true);
    $("#id_connect_global").attr("checked", true);
    loadGlobal({{ form.global_survey.value }});
  {% endif %}

  {% if show_connect_global %}
    loadGlobal({{ approve_pending.poll_global.pk }});
  {% endif %}

  function loadGlobal(id) {
    if (id) {
      $("#id_global_survey").val(id);
      $("#id_connect_global").attr("checked", true);
      $("#global_survey_description").html(surveys_global[id]);
      $("#select_global_survey").removeClass("is-hidden");
      $("#global_description").removeClass("is-hidden");
    }
  }

  $("#id_global_survey").change(function(){
    let global_survey_id = $("#id_global_survey").val();
    let flow_uuid = $("#flow_uuid").val();
    if(!global_survey_id){
      alert("Please, select a Global Survey");
      return;
    }

    $.ajax({
        url: window.location.origin + "/surveys/data/" + global_survey_id + "/" + flow_uuid,
        beforeSend: function() {
          $("#loaderDiv").show();
          $("#result-percent").hide();
          $("#result-percent").empty();
          $("#percent-compability-hidden").val("");
          $("#id_global_survey").attr("disabled", true);
          $("#button-submit").attr("disabled", true);
        },
    })
    .done(function( data ) {
      $("#loaderDiv").hide();
      $("#id_global_survey").attr("disabled", false);
      $("#button-submit").attr("disabled", false);
      $("#result-percent").show();
      let percent = parseInt(data.percent_compatibility);
      percent = Number.isNaN(percent) ? 0 : percent;
      $("#percent-compability-hidden").val(percent);
      $("#result-percent").html(
        `
        > Checked total compatility <br>
        > Total by ${percent}% (${data.amount_local_flow_uuids} of ${data.amount_global_flow_uuids} surveys questions)
        `
      );
    })
    .fail(function(){
      $("#id_global_survey").attr("disabled", false);
      $("#button-submit").attr("disabled", false);
      $("#result-percent").show();
      $("#percent-compability-hidden").val("");
      $("#result-percent").html("An error occured with the request. Try again later.");
      $("#loaderDiv").hide();
    });


  });
});
</script>
{% endblock %}
