{% extends "base.html" %}
{% load i18n static sass_tags %}

{% block nav_item %}page-surveys{% endblock %}

{% block css_extra %}
<link rel="stylesheet" href="{% sass_src 'css/polls/form.scss' %}">
<link rel="stylesheet" href="{% sass_src 'plugins/tooltip/tooltip.scss' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css">
{% endblock %}

{% block content %}
<section class="section">
  <h1 class="title">{% trans "Surveys" %}</h1>
</section>

<section class="section">
  <div class="columns">
    <div class="column">
      <div class="columns tabs">
        <div class="column tab">{% trans "1 Poll for flow" %}</div>
        <div class="column tab is-active">{% trans "2 Date Setting" %}</div>
        <div class="column tab">{% trans "3 Survey Questions" %}</div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column box is-paddingless">
      <form class="generic-form" method="post">
        {% csrf_token %}
        <h1 class="title">{% trans "Date Setting" %}</h1>
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">
                {{ form.poll_date.label }}
                <span class="tooltip top left-m-10">
              <i class="material-icons info-icon">info</i>
              <span class="tooltip-content">{% trans "Registration date or leave this field empty to keep the date flow creation date" %}</span>
            </span>
              </label>
              <div class="control has-icons-right">
                {{ form.poll_date }}
                <span class="icon is-small is-right">
              <i class="material-icons">calendar_today</i>
            </span>
                {{ form.poll_date.errors }}
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">{{ form.poll_end_date.label }}</label>
              <div class="control has-icons-right">
                {{ form.poll_end_date }}
                <span class="icon is-small is-right">
              <i class="material-icons">calendar_today</i>
            </span>
                {{ form.poll_end_date.errors }}
              </div>
            </div>
          </div>
        </div>
        <div class="columns wrapper-buttons">
          <div class="column">
            <div class="flex flex-end">
              <a href="{% url 'polls.poll_update' poll.id %}" class="button primary-reverse right-m-5">{% trans "Back" %}</a>
              <button type="submit" class="button is-primary">{% trans "Next" %}</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}

{% block js_extra %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
<script src="{% static 'js/forms/errors.js' %}"></script>
<script type="text/javascript">
$('#id_poll_date, #id_poll_end_date').datepicker({
  format: 'yyyy-mm-dd'
});
{% for field in form.errors %}
  setErrors('{{field}}');
{% endfor %}
</script>
{% endblock %}
