{% extends "base.html" %}
{% load i18n static sass_tags %}

{% block nav_item %}page-surveys{% endblock %}

{% block css_extra %}
<link rel="stylesheet" href="{% sass_src 'plugins/choices/choices.scss' %}">
<link rel="stylesheet" href="{% sass_src 'css/polls/survey_form.scss' %}">
<link rel="stylesheet" href="{% sass_src 'plugins/tooltip/tooltip.scss' %}">
<link rel="stylesheet" href="{% sass_src 'css/flowhub/common.scss' %}">
<link rel="stylesheet" href="{% static 'plugins/checkbox/checkbox.min.css' %}">
<style>
  .multiselect {
  width: 100%;
}

.selectBox {
  position: relative;
}

.selectBox select {
  min-height: 44px;
  width: 100%;
  padding: 7.5px 7.5px 1.75px;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  background-color: white;
  font-size: 14px;
  color: #707070;
  -webkit-appearance: none;
  background:url('http://www.free-icons-download.net/images/small-down-arrow-icon-15593.png');
  background-repeat:no-repeat;
  background-size:16px 17px;
  background-position:right 10px center;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.checkboxes {
  height: 300px;
  overflow-y: auto;
  position: absolute;
  display: none;
  border: 1px #dadada solid;
  z-index: 1000;
  background-color: white;
}

.checkboxes label {
  display: block;
  z-index: 1000;
  position: relative;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}

.checkboxes label:hover {
  background-color: #1e90ff;
}

.textarea[disabled] {
  background-color: whitesmoke;
  color: rgb(170, 170, 170);
}

.send-message{
  transform: scale(1.2);
  margin-right: 10px;
  margin-left: 5px;
}

.visible-flow{
  margin-bottom: 10px;
}
</style>
{% endblock %}

{% block content %}
<section class="section top-p-0 bottom-p-0">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'polls.poll_list' %}">{% trans 'Surveys' %}</a></li>
      <li class="is-active"><a href="#" aria-current="page">{{ page_subtitle }}</a></li>
    </ul>
  </nav>
</section>

<section class="section">
  <h1 class="title">{% trans "Surveys" %}</h1>
  <h2 class="subtitle">{{ page_subtitle }}</h2>
</section>

<section class="section">
  <div class="columns">
    <div class="column">
      <div class="columns tabs">
        <div class="column tab">{% trans "1 General" %}</div>
        <div class="column tab">{% trans "2 Date Setting" %}</div>
        <div class="column tab is-active">{% trans "3 Survey Questions" %}</div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column box is-paddingless">
      <form class="generic-form questions p-10" method="post">
        {% csrf_token %}
        <h1 class="title p-30 bottom-m-0">{% trans "Survey Questions" %}</h1>
        {% for field in form %}
          {% if field.field.widget.input_type == "hidden" %}
            <div class="question left-p-30 right-p-30 top-p-20 bottom-p-20">
              <div class="question__number">{{ field.label }}</div>
              <div class="question__title">{{ field.value }}</div>
              {{ field }}
            </div>
          {% endif %}

          {% if field.field.widget.input_type != "hidden" %}
          <div class="field left-p-30 right-p-30 top-p-20">
            {% if field.field.widget.input_type != 'checkbox' %}
              {% if field.label == 'Question' %}
                <div class="visible-flow">
                  <label class="switch">
                    <input value="{{field.name}}" class="edit-send-message" type="checkbox">
                    <span class="slider round"></span>
                  </label>
                  <span>Edit the selected title(s)</span>
                </div>
              {% else %}
                <label class="label" for="{{ field.auto_id }}">{{ field.label }}</label>
              {% endif %}
            {% endif %}

            <div class="{% if field.field.widget.input_type == 'select' %}is-fullwidth{% else %}control{% endif %}">
              {% if field.field.widget.input_type == 'checkbox' %}
                {% if field.label == 'Send Messages' %}
                  <span>Select the title corresponding to the question</span>
                  <div class="multiselect">
                    <div class="selectBox" onclick="showCheckboxes('{{field.auto_id}}')">
                      <select>
                        <option>Select the title(s)</option>
                      </select>
                      <div class="overSelect"></div>
                    </div>
                    <div class="checkboxes" id="{{field.auto_id}}">
                      {% for row in field %}
                        {{row}}
                      {% endfor %}
                    </div>
                  </div>
                {% else %}
                  {{ field }}
                  <label class="label" for="{{ field.auto_id }}">{{ field.label }}</label>
                {% endif %}
              {% else %}
                {{ field }}
              {% endif %}



            </div>
          </div>
          {% endif %}
          {% if field.label == 'Allow display of survey results' %}
            <hr class="top-m-40 bottom-m-40">
          {% endif %}
        {% endfor %}
        <div class="columns wrapper-buttons left-p-30 right-p-30 bottom-p-30">
          <div class="column">
            <div class="flex flex-end">
              <a href="{% url 'polls.poll_poll_date' poll.id %}" class="button primary-reverse right-m-5">{% trans "Back" %}</a>
              <button type="submit" class="button is-primary">{% trans "Save" %}</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}

{% block js_extra %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/scripts/choices.min.js"></script>
<script type="text/javascript">
$(".send-message").prop("checked", false);
$("textarea").prop("disabled", true);

$(".edit-send-message").change(function(){
  let id_question = $(this).val();
  let switch_checkbox = $(this);
  $("textarea").each(function(){
    if($(this).attr("name").indexOf(id_question) > -1){
      if (switch_checkbox.is(':checked')) {
        $(this).removeAttr("disabled");
      }else{
        $(this).attr("disabled", true);
      }
    }
  })
});

$(".send-message").change(function(){
  let text = $(this).val();
  let id_send_message = $(this).attr("name");
  let id_question = id_send_message.replace("_send_messages", "");
  let checkbox_element = $(this);

  $("textarea").each(function(){
    if($(this).attr("name").indexOf(id_question) > -1){
      if (checkbox_element.is(':checked')) {
        new_value = $(this).val() + " " + text;
        $(this).val(new_value);
        $(this).text(new_value);
      }else{
        current_text = $(this).val();
        new_text = current_text.replace(text, "");
        $(this).val(new_text);
        $(this).text(new_text);
      }
    }
  })

});



var expanded = false;
function showCheckboxes(id) {
  var checkboxes = document.getElementById(id);
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}

//$("select").each(function() {
$(".sdgs-select").each(function() {
  /*if($(this).hasClass("send-message")){
    return;
  };*/

  let id = $(this).attr("id");
  new Choices("#" + id, {
    removeItemButton: true,

    sorter: function(a, b) {
      return a.id > b.id;
    },

    callbackOnCreateTemplates: function (template) {
      return {
        item: (classNames, data) => {
          return template(`
            <div class="${classNames.item} tag-sdg-${data.value} ${data.highlighted ? classNames.highlightedState : classNames.itemSelectable}" data-item data-id="${data.id}" data-value="${data.value}" ${data.active ? 'aria-selected="true"' : ''} ${data.disabled ? 'aria-disabled="true"' : ''}>${data.value} ${data.label}<button type="button" class="choices-button-close" data-button="" aria-label="Remove item: '${data.value}'">X</button>
          `);
        },
        choice: (classNames, data) => {
          return template(`
            <div class="${classNames.item} ${classNames.itemChoice} ${
              data.disabled ? classNames.itemDisabled : classNames.itemSelectable
            }" data-select-text="${this.config.itemSelectText}" data-choice ${
              data.disabled
                ? 'data-choice-disabled aria-disabled="true"'
                : 'data-choice-selectable'
            } data-id="${data.id}" data-value="${data.value}" ${
              data.groupId > 0 ? 'role="treeitem"' : 'role="option"'
            }>
              ${data.value} - ${data.label}
            </div>
          `);
        },
      };
    }
  });
});

{% for field, errors in form.errors.items %}{% for error in errors %}{% if error %}
bulmaToast.toast({
  message: "{{ error }}",
  type: "is-danger",
  position: "top-center",
  closeOnClick: true,
  dismissible: true
});
{% endif %}{% endfor %}{% endfor %}
</script>
{% endblock %}
