{% extends "base.html" %}
{% load i18n static ureport sass_tags %}

{% block nav_item %}page-surveys{% endblock %}

{% block css_extra %}
<link rel="stylesheet" href="{% sass_src 'plugins/tooltip/tooltip.scss' %}">
<link rel="stylesheet" href="{% sass_src 'css/polls/survey_list.scss' %}" />
{% endblock %}

{% block content %}
<section class="section">
  <h1 class="title">{{ request.org.name }}</h1>
  <h2 class="subtitle">{% trans "Surveys" %}</h2>
</section>

<section class="section">
  <div class="columns -is-mobile bottom-m-0">
    <div class="column auto">
      <div class="control has-icons-left has-icons-right">
        <form>
          <input class="input is-medium search is-borderless" name="query" placeholder="Search" value="{{ query }}">
          <span class="icon is-left">
            <i class="material-icons">search</i>
          </span>
          {% if query %}
            <a class="clear-search-icon" href="{% url 'polls.poll_list' %}">
              <i class="material-icons">clear</i>
            </a>
          {% endif %}
        </form>
      </div>
    </div>
    {% if not request.org.is_master and request.user|is_admin_user %}
    <div class="column is-narrow">
      <div class="control">
        <a class="button is-medium is-info" href="{% url 'polls.poll_create' %}">
          <span class="icon">
            <i class="material-icons">share</i>
          </span>
          <span>{% trans "Connect Survey" %}</span>
        </a>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="box is-radiusless is-shadowless border-bottom left-p-40 top-m-10 bottom-m-0">
    <div class="has-text-weight-bold is-size-5 bottom-p-55">Survey Results</div>
    <div class="has-text-grey-light">Click on a survey item below to see its results</div>
  </div>
  <table class="table is-fullwidth is-hoverable">
    <thead>
      <tr class="is-tr">
        <th>{% autosort title _("Name") %}</th>
        <th>{% trans "Questions" %}</th>
        <th>{% autosort runs_count _("Runs") %}</th>
        <th>{% trans "SDGs" %}</th>
        <th>{% trans "Global" %}</th>
        <th>{% autosort is_active _("Status") %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="has-header">

      {% for poll in polls %}
      <tr class="{% if not poll.is_active %} is-poll-inactive {% endif %}">
        <td>
          {%if poll.is_active %}
            <a href="{% url 'results.poll_read' poll.id %}">
              <span class="tooltip right">
                {{ poll.title }}
                <span class="tooltip-content">See the results</span>
              </span>
            </a>
          {% else %}
            {{ poll.title }}
          {% endif %}
        </td>
        <td>
          <a href="{% url 'polls.poll_questions' poll.id %}">
            <span class="tooltip right">
              {{ poll.get_questions.count }}
              <span class="tooltip-content">Go to question edit</span>
            </span>
          </a>
        </td>
        <td>{{ poll.runs_count }}</td>
        <td>
          {% if poll.questions.count > 3 %}
          <span class="tooltip right">
            {% for sdg in poll.questions.distinct|get_value_in_qs:'sdgs'|slice:3 %}
            <span class="tag sdg-{{ sdg }}">SDG {{ sdg }}</span>
            {% endfor %}

            <span class="tooltip-content">
              {% for sdg in poll.questions.distinct|get_value_in_qs:'sdgs' %}
              <span class="tag sdg-{{ sdg }} bottom-m-5">SDG {{ sdg }}</span>
              {% endfor %}
            </span>
          </span>
          {% else %}
          {% for sdg in poll.questions.distinct|get_value_in_qs:'sdgs' %}
          <span class="tag sdg-{{ sdg }}">SDG {{ sdg }}</span>
          {% endfor %}
          {% endif%}
        </td>
        <td>
          {% if poll.polls_global.count %}
            {% trans "Yes" %}
          {% else %}
            {% trans "No" %}
          {% endif %}
        </td>
        <td class="poll-status">
          {%if poll.is_active %}
            {% trans 'Active' %}
          {% else %}
            {% trans 'Inactive' %}
          {% endif %}
        </td>
        <td>
          <a href="{% url 'polls.poll_update' poll.id %}">
            <span class="tooltip right">
              <i class="material-icons">border_color</i>
              <span class="tooltip-content">Edit survey</span>
            </span>
          </a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7" class="has-text-centered">{% trans "No results found" %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="bottom-m-50">
    {% include "paginator.html" with paginator=polls %}
  </div>
</section>
{% endblock %}
