{% extends "base.html" %}
{% load i18n static ureport %}

{% block nav_item %}page-users{% endblock %}

{% block content %}
<section class="section">
  <h1 class="title">{{title}} {% trans "Users" %}</h1>
</section>

<section class="section">
  <div class="columns is-mobile">
    <div class="column auto">
      <div class="control has-icons-left">
        <form>
          <input class="input is-medium search" name="query" placeholder="Search" value="{{ query }}">
          <span class="icon is-left">
            <i class="material-icons">search</i>
          </span>
          {% if query %}
            <a class="clear-search-icon" href="{{ back_to }}">
              <i class="material-icons">clear</i>
            </a>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
  <table class="table is-fullwidth">
    <thead>
      <tr class="is-tr">
        <th>{% autosort first_name _("Name") %}</th>
        <th>{% trans "Username" %}</th>
        <th>{% trans "Email" %}</th>
        <th>{% trans "Permission" %}</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody class="has-header">
      {% for user in users %}
        <tr class="is-tr">
          <td>{{ user.first_name }} </td>
          <td>{{ user.username }} </td>
          <td>{{ user.email }} </td>
          <td>{{ user|user_org_group:org }}</td>
          <td>
            <a
              href="{% if request.user.is_superuser %}{% url 'accounts.user_org_update' org.pk user.pk %}{% else %}{% url 'accounts.user_update' user.pk %}{% endif %}">
              <i class="material-icons">border_color</i>
            </a>
          </td>
          <td>
            <button class="button-no-bg" onclick=openModal('{{org.pk}}','{{user.pk}}');> 
              <i class="material-icons">delete</i>
            </button>

            <div id="deleteModal-{{org.pk}}-{{user.pk}}" class="modal">
              <div class="modal-background"></div>
              <div class="modal-card">
                <header class="modal-card-head">
                  <p class="modal-card-title">{% trans 'Are you sure?' %}</p>
                  <button class="delete" aria-label="close" onclick=closeModal('{{org.pk}}','{{user.pk}}');></button>
                </header>
                <section class="modal-card-body">
                  {% trans 'Do you really want to delete the user' %} "{{user.username}}" ?
                </section>
                <footer class="modal-card-foot">
                  <form action="{% if request.user.is_superuser %}{% url 'accounts.user_org_delete' org.pk user.pk %}{% else %}{% url 'accounts.user_delete' user.pk %}{% endif %}"
                   method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{ redirect_to }}" name="redirect_to"/>
                    <button class="button is-danger right-m-5" type="submit">{% trans 'Confirm' %}</button>
                  </form>
                  <button class="button dark-reverse" onclick=closeModal('{{org.pk}}','{{user.pk}}');>{% trans 'Cancel' %}</button>
                </footer>
              </div>
            </div>
            
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6" class="has-text-centered">{% trans "No results found" %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="is-pulled-right">
    {% include "paginator.html" with paginator=users %}
  </div>
</section>
{% endblock %}

{% block js_extra %}
<script>
    function closeModal(orgPk, userId){
      let modal = document.getElementById("deleteModal-" + orgPk+ "-" + userId);
      modal.classList.remove("is-active");
    }

    function openModal(orgPk, userId){
      let modal = document.getElementById("deleteModal-" + orgPk+ "-" + userId);
      modal.classList.add("is-active");
    }
</script>
{% endblock %}
