// flexbox
.flex {
  display: flex !important;

  &.space-between {
    justify-content: space-between;
  }

  &.flex-end {
    justify-content: flex-end;
  }

  &.flex-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }
}

// CSS grid
.grid {
  display: grid !important;

  &.align-center {
    align-self: center;
  }
}