.search {
  border-color: #c2c8cc !important;
  box-shadow: 0 0 transparent !important;
  padding-left: 3.5rem !important;
}

.search.is-borderless {
  border-color: transparent !important;
}

.icon-search {
  width: 3.5rem !important;
}
