{% extends "base.html" %}
{% load i18n static ureport utils_extra_accounts %}

{% block nav_item %}page-users{% endblock %}

{% block content %}
<section class="section">
  <h1 class="title">Global {% trans "Users" %}</h1>
</section>

<section class="section">
  <div class="columns is-mobile">
    <div class="column auto">
      <div class="control has-icons-left">
        <form>
          <input class="input is-medium search" name="query" placeholder="Search" value="{{ query }}">
          <span class="icon is-left">
            <i class="material-icons">search</i>
          </span>
          {% if query %}
            <a class="clear-search-icon" href="{{ back_to }}">
              <i class="material-icons">clear</i>
            </a>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
  <table class="table is-fullwidth">
    <thead>
      <tr class="is-tr">
        <th>{% autosort first_name _("Name") %}</th>
        <th>{% trans "Username" %}</th>
        <th>{% trans "Email" %}</th>
        <th>{% trans "Permission" %}</th>
        <th>{% trans "Edit" %}</th>
        <th>{% trans "Block" %}</th>
      </tr>
    </thead>
    <tbody class="has-header">
      {% for user in users %}
        <tr class="is-tr">
          <td>{{ user.first_name }} </td>
          <td>{{ user.username }} </td>
          <td>{{ user.email }} </td>
          <td>
            {% if user.is_superuser %}
              {% trans "Global Admin" %}
            {% elif user|is_global_viewer_active %}
              {% trans "Global Viewers" %}
            {% else %}
              {% trans "No Permission" %}
            {% endif %}
          </td>
          <td>
            {% if not user.logs_permission_user.all %}
            <a
              href="{% url 'accounts.global_user_update' user.pk %}">
              <i class="material-icons">border_color</i>
            </a>
            {% endif %}
          </td>
          <td>
          {% if not user.is_superuser %}
              {% if user|is_global_viewer_active %}
                <button class="button-no-bg" onclick=openModal('{{user.pk}}');>
                  <img class="lock-user" src="{% static 'svg/lock.svg' %}">
                </button>

                <div id="deleteModal-{{user.pk}}" class="modal">
                  <div class="modal-background"></div>
                  <div class="modal-card">
                    <header class="modal-card-head">
                      <p class="modal-card-title">{% trans 'Are you sure?' %}</p>
                      <button class="delete" aria-label="close" onclick=closeModal('{{user.pk}}');></button>
                    </header>
                    <section class="modal-card-body">
                      {% trans 'Do you really want to block the user' %} "{{user.username}}" ?
                    </section>
                    <footer class="modal-card-foot">
                      <form action="{% url 'accounts.global_user_delete' user.pk %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{ redirect_to }}" name="redirect_to"/>
                        <button class="button is-danger right-m-5" type="submit">{% trans 'Confirm' %}</button>
                      </form>
                      <button class="button dark-reverse" onclick=closeModal('{{user.pk}}');>{% trans 'Cancel' %}</button>
                    </footer>
                  </div>
                </div>
              {% else %}
                <button class="button-no-bg" onclick=openModalActive('{{user.pk}}');>
                  <img class="unlock-user" src="{% static 'svg/unlock.svg' %}">
                </button>

                <div id="activeModal-{{user.pk}}" class="modal">
                  <div class="modal-background"></div>
                  <div class="modal-card">
                    <header class="modal-card-head">
                      <p class="modal-card-title">{% trans 'Are you sure?' %}</p>
                      <button class="delete" aria-label="close" onclick=closeModalActive('{{user.pk}}');></button>
                    </header>
                    <section class="modal-card-body">
                      {% trans 'Do you really want to active the user' %} "{{user.username}}" ?
                    </section>
                    <footer class="modal-card-foot">
                      <form action="{% url 'accounts.global_user_activate' user.pk %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{ redirect_to }}" name="redirect_to"/>
                        <button class="button is-danger right-m-5" type="submit">{% trans 'Confirm' %}</button>
                      </form>
                      <button class="button dark-reverse" onclick=closeModalActive('{{user.pk}}');>{% trans 'Cancel' %}</button>
                    </footer>
                  </div>
                </div>
              {% endif %}
          {% endif %}
            </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6" class="has-text-centered">{% trans "No results found" %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div>
    {% include "paginator.html" with paginator=users %}
  </div>
</section>
{% endblock %}

{% block js_extra %}
<script>
    function closeModal(userId){
      let modal = document.getElementById("deleteModal-" + userId);
      modal.classList.remove("is-active");
    }

    function openModal(userId){
      let modal = document.getElementById("deleteModal-" + userId);
      modal.classList.add("is-active");
    }

    function closeModalActive(userId){
      let modal = document.getElementById("activeModal-" + userId);
      modal.classList.remove("is-active");
    }

    function openModalActive(userId){
      let modal = document.getElementById("activeModal-" + userId);
      modal.classList.add("is-active");
    }
</script>
{% endblock %}
