#page-dashboard {
  .card-title {
    font-size: 18px;
  }

  .info-icon {
    font-size: 18px;
    color: #b3b3b3;
    cursor: default;
    vertical-align: text-bottom;
  }

  .questions-header {
    display: flex;
    justify-content: space-between;
  }

  .questions-list {
    height: 400px;
    overflow: auto;
  }
}