#page-dashboard {
  .card-title {
    font-size: 18px;
  }

  .info-icon {
    font-size: 18px;
    color: #b3b3b3;
    cursor: default;
    vertical-align: sub;
  }

  .questions-list {
    height: 400px;
    overflow: auto;
  }

  .surveys-info {
    color: #4c4c4c;

    &__number {
      font-size: 25px;
      font-weight: bold;
    }
  }

  .surveys-card {
    height: 100%;
  }

  .untracked-sgd {
    padding-left: 1rem;

    &__item {
      display: flex;
      align-items: center;
      padding-bottom: 10px;

      &__color {
        width: 17px;
        height: 17px;
        border-radius: 50%;
        margin-right: 6px;
      }

      &__label {
        font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-size: 14px;
        color: #666;
      }
    }
  }

  .tooltip-content {
    line-height: normal;
    letter-spacing: normal;
  }
}