{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<section class="section">
  <h1 class="title">{% trans "Repository" %}</h1>
  <h2 class="subtitle top-p-5">Survey library for finding and sharing questions or polls among UNCTs</h2>
</section>

<section class="section top-p-0" id="{% block flow_section_id %}{{ flow_section_id }}{% endblock %}">
  <div class="columns is-desktop">
    <div class="column is-one-quarter">
      <div class="columns">
        <div class="column right-p-0">
          <aside class="menu">
            <ul class="menu-list">
              <li><a class="all" href="{% url 'flowhub.flow_list' %}">{% trans "All flows" %}</a></li>
              <li><a class="uncts" href="{% url 'flowhub.flow_uncts' %}">{% trans "UNCTs" %}</a></li>
              {% if not request.user.is_superuser and request.org in request.user.get_user_orgs %}
                <li><a class="my-org" href="{% url 'flowhub.my_org_flow_list' %}">{{ org.name }}</a></li>
                <li><a class="upload" href="{% url 'flowhub.flow_create' %}">{% trans "Upload Flow" %}</a></li>
              {% endif %}
            </ul>
          </aside>
        </div>
      </div>
    </div>
    {% block flow_content %} {% endblock %}
  </div>
</section>
{% endblock %}
