{% load static i18n ureport %}

<tr class="is-tr">
  <td class="has-text-left" colspan="3">
    <div class="columns is-gapless">
      <div class="column is-11">
        <a href="{{ flow.get_absolute_url }}">
          <strong>{{ flow.name }}</strong> | <i>{{ flow.org.name }}</i> 
        </a>
        {% if request.org == flow.org and request.user|is_admin_user %}
          <form class="form-flowhub" action="{% url 'flowhub.flow_delete' flow.pk %}" method="POST">
            {% csrf_token %}
            <a href="{% url 'flowhub.flow_update' flow.pk %}">
              <img src="{% static 'svg/pencil.svg' %}" alt="pencil">
            </a>
            <button class="button-no-bg" type="submit">
              <img src="{% static 'svg/trash.svg' %}" alt="trash">
            </button>
          </form>
        {% endif %}
      </div>
      <div class="column stars">
        <a href="{% url 'flowhub.flow_star' flow.pk %}">
          {% if request.user in flow.stars.all %}
            <img src="{% static 'svg/star-solid.svg' %}" alt="stars"></a>
          {% else %}
            <img src="{% static 'svg/star.svg' %}" alt="stars"></a>
          {% endif %}
        <span>{{ flow.stars_count }}</span>
      </div>
    </div>
    <div class="columns">
      <div class="column description">
        <p>{{ flow.description }}</p>
      </div>
    </div>
    {% if flow.get_languages %}
    <div class="columns">
      <div class="column languages">
        <strong>{% trans "Languages" %}:</strong> {{ flow.get_languages }}
      </div>
    </div>
    {% endif %}
    {% if flow.tags.count %}
    <div class="columns">
      <div class="column">
        {% for tag in flow.tags.all %}
          <span class="flowhub-tag tag">{{ tag }}</span>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    
    <div class="columns">
      <div class="column">
        {% for key, name in flow.get_sdgs.items %}
          <span class="tag sdg-{{ key }}">{{ name }}</span>
        {% endfor %}
      </div>
    </div>    

    <div class="columns">
      <div class="column download">
        <a href="{% url 'flowhub.flow_download' flow.pk %}" class="button button-primary is-primary">{% trans "Download" %}</a>
        <span>{{ flow.downloads }} {% trans "downloads" %}</span>
      </div>
    </div>
  </td>
</tr>