{% extends "flowhub/base.html" %}
{% load i18n static sass_tags ureport widget_tweaks %}

{% block nav_item %}page-flowhub{% endblock %}

{% block css_extra %}
<link rel="stylesheet" href="{% sass_src 'plugins/choices/choices.scss' %}">
<link rel="stylesheet" href="{% sass_src 'css/flowhub/common.scss' %}">
<link rel="stylesheet" href="{% sass_src 'css/flowhub/form.scss' %}">
<link rel="stylesheet" href="{% static 'plugins/checkbox/checkbox.min.css' %}">
{% endblock %}

{% block flow_section %}{% trans "Uploads flows" %}{% endblock %}
{% block flow_section_id %}flowhub-upload{% endblock %}

{% block flow_content %}
<div class="column auto">
  <form class="generic-form box" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="files-form">
      <div class="file has-name is-info field">
        <label class="file-label">
          {{ form.flow|add_class:"file-input" }}
          <span class="file-cta">
            <span class="file-label">
              Search file
            </span>
          </span>
          <span class="file-name" id="file_name">
            Select your json file
          </span>
        </label>
        <p>
          {{ form.flow.errors }}
        </p>
      </div>
      <div class="visible-flow">
        <span>Visible globally</span>
        <label class="switch">
          {{ form.visible_globally }}
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <div class="field">
      <label class="label">{% trans "Name" %}</label>
      <div class="control">
        {{ form.name|add_class:"input is-medium" }}
        {{ form.name.errors }}
      </div>
    </div>
    <div class="field">
      <label class="label">{% trans "Languages" %}</label>
      <div class="control">
        {{ form.languages|add_class:"chosen-select form-control"|attr:"multiple:True"|attr:"required:True" }}
        {{ form.languages.errors }}
      </div>
    </div>
    <div class="field">
      <label class="label">{% trans "Description" %}</label>
      <div class="control">
        {{ form.description|add_class:"textarea"|attr:"rows:5" }}
        {{ form.description.errors }}
      </div>
    </div>
    <div class="field">
      <label class="label">{{ form.collected_data.label }}</label>
      <div class="control">
        {{ form.collected_data|add_class:"textarea"|attr:"rows:5" }}
        {{ form.collected_data.errors }}
      </div>
    </div>
    <div class="field">
      <label class="label">{% trans "Add tag" %}</label>
      <div class="control">
        {{ form.tags|add_class:"chosen-select form-control"|attr:"multiple:True"|attr:"required:True" }}
        {{ form.tags.errors }}
      </div>
    </div>
    <div class="field">
      <label class="label">{% trans "SDGs" %}</label>
      <div class="control">
        {% for choice in form.sdgs.field.choices %}
          {% cycle 'row' '' as row silent %}
          {% if row %}<div class="columns">{% endif %}
            <div class="column badge-space">
              <div class="field choice-padding{% if choice.0 in form.sdgs.data|items_to_list %} badge-sdg-{{choice.0}}{% endif %}" id="div_choice_{{choice.0}}">
                <input
                  class="is-checkradio flowhub-checkbox"
                  id="id_choice_{{choice.0}}"
                  value="{{choice.0}}"
                  type="checkbox"
                  name="sdgs"
                  onchange="checkSdg(this)"
                  {% if choice.0 in form.sdgs.data|items_to_list %} checked="checked"{% endif %}>
                <label for="id_choice_{{choice.0}}">{{choice.0}} - {{choice.1}}</label>
              </div>
            </div>
          {% if not row %}</div>{% endif %}
        {% endfor %}
      </div>
      {{ form.sdgs.errors }}
    </div>
    <div class="columns wrapper-buttons">
      <div class="column">
        <button type="submit" class="button is-primary">{% trans "OK" %}</button>
        <a href="{% url 'flowhub.flow_list' %}" class="button primary-reverse">{% trans "Cancel" %}</a>
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block js_extra %}
<script src="{% static 'js/forms/errors.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<script type="text/javascript">
  new Choices("#id_languages", {
    removeItemButton: true,
    listItems: "choices__list--multiple"
  });
  new Choices("#id_tags", {
    removeItemButton: true,
    listItems: "choices__list--multiple"
  });
  document.getElementById("id_flow").onchange = ((e) => {
    if (e.srcElement.files.length > 0) {
      document.getElementById("file_name").innerText = e.srcElement.files.item(0).name;
    }
  });
  function checkSdg(choice) {
    const sdg = document.getElementById(`div_choice_${choice.value}`);
    const choiceClass = `badge-sdg-${choice.value}`;

    if (choice.checked) {
      sdg.classList.add(choiceClass);
    } else {
      sdg.classList.remove(choiceClass);
    }
  }
  {% for field in form.errors %}
    setErrors('{{field}}');
  {% endfor %}
</script>
{% endblock %}
