{% extends "flowhub/base.html" %}
{% load i18n static sass_tags ureport %}

{% block nav_item %}page-flowhub{% endblock %}

{% block css_extra %}
<link rel="stylesheet" href="{% sass_src 'plugins/choices/choices.scss' %}">
<link rel="stylesheet" href="{% sass_src 'css/flowhub/common.scss' %}">
<link rel="stylesheet" href="{% sass_src 'css/flowhub/form.scss' %}">
<link rel="stylesheet" href="{% static 'plugins/checkbox/checkbox.min.css' %}">
{% endblock %}

{% block flow_content %}
<div class="column auto">
  <div class="box is-shadowless is-paddingless bottom-m-10">
    <div class="p-30">
      <div class="has-text-weight-bold is-size-5 bottom-p-5">{{ subtitle }}</div>
      <div class="has-text-grey-light">
        Add polls you have used to the global repository. Other UNCTs will be able to see the questions you used. The results are not included on the files and will not be shared.
      </div>
    </div>
  </div>
  <form class="generic-form box is-shadowless" action="#" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="files-form">
      <div class="file has-name is-info field">
        <label class="file-label">
          {{ form.flow }}
          <span class="file-cta">
            <span class="file-label">
              Search file
            </span>
          </span>
          <span class="file-name" id="file_name">
            Select your json file
          </span>
        </label>
        <p>
          {{ form.flow.errors }}
        </p>
      </div>
      <div class="visible-flow">
        <span>Visible globally</span>
        <label class="switch">
          {{ form.visible_globally }}
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <div class="field">
      <label class="label">{% trans "Name" %}</label>
      <div class="control">
        {{ form.name }}
        {{ form.name.errors }}
      </div>
    </div>
    <div class="field">
      <label class="label">{% trans "Languages" %}</label>
      <div class="control">
        {{ form.languages}}
        {{ form.languages.errors }}
      </div>
    </div>
    <div class="field">
      <label class="label">{% trans "Description" %}</label>
      <div class="control">
        {{ form.description }}
        {{ form.description.errors }}
      </div>
    </div>
    <div class="field">
      <label class="label">{{ form.collected_data.label }}</label>
      <div class="control">
        {{ form.collected_data }}
        {{ form.collected_data.errors }}
      </div>
    </div>
    <div class="field">
      <label class="label">{% trans "Add tag" %}</label>
      <div class="control">
        {{ form.tags }}
        {{ form.tags.errors }}
      </div>
    </div>
    <div class="field">
      <label class="label">{% trans "SDGs" %}</label>
      <div class="choices__item choices__item--choice choices__item--selectable is-highlighted">
        {{ form.sdgs }}
        {{ form.sdgs.errors }}
      </div>
    </div>
    <div class="columns wrapper-buttons">
      <div class="column">
        <button type="submit" class="button is-primary">{% trans "OK" %}</button>
        <a href="{% url 'flowhub.flow_list' %}" class="button primary-reverse">{% trans "Cancel" %}</a>
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block js_extra %}
<script src="{% static 'js/forms/errors.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<script type="text/javascript">
  
  new Choices("#id_sdgs", {
    removeItemButton: true,

    sortFn: function(a, b) {
      return a.id > b.id;
    },

    callbackOnCreateTemplates: function (template) {
      return {
        item: (classNames, data) => {
          return template(`
            <div class="${classNames.item} tag-sdg-${data.value} ${data.highlighted ? classNames.highlightedState : classNames.itemSelectable}" data-item data-id="${data.id}" data-value="${data.value}" ${data.active ? 'aria-selected="true"' : ''} ${data.disabled ? 'aria-disabled="true"' : ''}>${data.value} ${data.label}<button type="button" class="choices-button-close" data-button="" aria-label="Remove item: '${data.value}'">X</button>
          `);
        },
        choice: (classNames, data) => {
          return template(`
            <div class="${classNames.item} ${classNames.itemChoice} ${
              data.disabled ? classNames.itemDisabled : classNames.itemSelectable
            }" data-select-text="${this.config.itemSelectText}" data-choice ${
              data.disabled
                ? 'data-choice-disabled aria-disabled="true"'
                : 'data-choice-selectable'
            } data-id="${data.id}" data-value="${data.value}" ${
              data.groupId > 0 ? 'role="treeitem"' : 'role="option"'
            }>
              ${data.value} - ${data.label}
            </div>
          `);
        },
      };
    }
  });
  
  new Choices("#id_languages", {
    removeItemButton: true,
    listItems: "choices__list--multiple"
  });
  new Choices("#id_tags", {
    removeItemButton: true,
    listItems: "choices__list--multiple"
  });
  
  document.getElementById("id_flow").onchange = ((e) => {
    if (e.srcElement.files.length > 0) {
      document.getElementById("file_name").innerText = e.srcElement.files.item(0).name;
    }
  });
  {% for field in form.errors %}
    setErrors('{{field}}');
  {% endfor %}
</script>
{% endblock %}
