{% load static i18n ureport %}

<tr class="is-tr">
  <td class="has-text-left" colspan="3">
    <div class="columns is-gapless">
      <div class="column is-11">
        <a href="{{ flow.get_absolute_url }}">
          <strong>{{ flow.name }}</strong> | <i>{% trans "Global" %}</i>
        </a>
        {% if request.user.is_superuser and not request.org %}
          <form class="form-flowhub">
            {% csrf_token %}
            <a href="{% url 'flowhub.flow_update_global' flow.pk %}">
              <img src="{% static 'svg/pencil.svg' %}" alt="pencil">
            </a>
          </form>
          <button class="button-no-bg" onclick=openModal("{{flow.pk}}");>
            <img src="{% static 'svg/trash.svg' %}" alt="trash">
          </button>
        {% endif %}
      </div>
      <div class="column stars">
        <a href="{% url 'flowhub.flow_star' flow.pk %}">
          {% if request.user in flow.stars.all %}
            <img src="{% static 'svg/star-solid.svg' %}" alt="stars"></a>
          {% else %}
            <img src="{% static 'svg/star.svg' %}" alt="stars"></a>
          {% endif %}
        <span>{{ flow.stars_count }}</span>
      </div>
    </div>
    <div class="columns">
      <div class="column description">
        <p>{{ flow.description }}</p>
      </div>
    </div>
    {% if flow.get_languages %}
    <div class="columns">
      <div class="column languages">
        <strong>{% trans "Languages" %}:</strong> {{ flow.get_languages }}
      </div>
    </div>
    {% endif %}
    {% if flow.tags.count %}
    <div class="columns">
      <div class="column">
        {% for tag in flow.tags.all %}
          <span class="flowhub-tag tag">{{ tag }}</span>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <div class="columns">
      <div class="column">
        {% for key, name in flow.get_sdgs.items %}
          <span class="tag sdg-{{ key }}">{{ name }}</span>
        {% endfor %}
      </div>
    </div>

    <div class="columns">
      <div class="column download">
        <a href="{% url 'flowhub.flow_download' flow.pk %}" class="button button-primary is-primary">{% trans "Download" %}</a>
        <span>{{ flow.downloads }} {% trans "downloads" %}</span>
      </div>
    </div>
  </td>
</tr>

<div id="deleteModal-{{flow.pk}}" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{% trans 'Are you sure?' %}</p>
      <button class="delete" aria-label="close" onclick=closeModal('{{flow.pk}}');></button>
    </header>
    <section class="modal-card-body">
      {% trans 'Do you really want to delete the flow' %} "{{flow.name}}" ?
    </section>
    <footer class="modal-card-foot">
      <form class="form-flowhub" action="{% url 'flowhub.flow_delete' flow.pk %}" method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{ redirect_to }}" name="redirect_to"/>
        <button class="button is-danger right-m-5" type="submit">{% trans 'Confirm' %}</button>
      </form>
      <button class="button dark-reverse" onclick=closeModal('{{flow.pk}}');>{% trans 'Cancel' %}</button>
    </footer>
  </div>
</div>
