{% extends "flowhub/base.html" %}
{% load i18n static sass_tags ureport %}

{% block nav_item %}page-flowhub{% endblock %}

{% block css_extra %}
<link rel="stylesheet" href="{% sass_src 'css/flowhub/common.scss' %}"/>
<link rel="stylesheet" href="{% sass_src 'css/flowhub/detail.scss' %}"/>
{% endblock %}

{% block flow_content %}
<div class="column auto">
  <div class="box is-shadowless is-paddingless">
    <div class="p-30 border-bottom">
      <div class="has-text-weight-bold is-size-5 bottom-p-5">
        {% if flow_section_id == "flowhub-all" %}
          {{ subtitle }}
        {% elif flow_section_id == "flowhub-my-org" %}
          {{ org.name }}
        {% endif %}
      </div>
      <div class="has-text-grey-light">
        {% if flow_section_id == "flowhub-all" %}
          View all survey questions/polls used by all UNCTs. You can download a particular poll and use it.
        {% elif flow_section_id == "flowhub-my-org" %}
          View all survey questions/polls used by your UNCT. You can download a particular poll and use it.
        {% endif %}
      </div>
    </div>
    <div class="columns">
      <div class="column bottom-p-0">
        <div class="control has-icons-left">
          <form>
            <input type="text" class="input is-medium search" name="search" value="" placeholder="Search">
            <span class="icon is-left">
              <i class="material-icons">search</i>
            </span>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% if query and not messages %}
  <div class="columns-is-mobile">
    <div class="column auto">
      <div class="control">
        <a href="{{ back_to }}">{% trans "Clear search" %}</a> 
      </div>
    </div>
  </div>
  {% endif %}

  <div class="flowhub-table-header">
    <div class="filters">
      <div>
        <div class="dropdown">
          <div class="dropdown-trigger">
            <div>
              <span>{% trans "SDGs" %}</span>
              <i class="material-icons middle">keyboard_arrow_down</i>
            </div>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              {% for id, name in sdgs %}
              <a href="?sdg={{ id }}&lang={{ language }}" class="dropdown-item">{{ name }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="dropdown">
          <div class="dropdown-trigger">
            <div>
              <span>{% trans "Languages" %}</span>
              <i class="material-icons middle">keyboard_arrow_down</i>
            </div>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              {% for id, name in languages %}
              <a href="?sdg={{ sdg }}&lang={{ id }}" class="dropdown-item">{{ name }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="dropdown is-right">
          <div class="dropdown-trigger">
            <div>
              <span>{% trans "Sorty by" %}</span>
              <i class="material-icons middle">unfold_more</i>
            </div>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a href="{% autosort name '' true %}" class="dropdown-item">{% trans "Alphabetical" %}</a>
              <a href="{% autosort stars '' true %}" class="dropdown-item">{% trans "Most stars" %}</a>
              <a href="{% autosort created_on '' true %}" class="dropdown-item">{% trans "Newest" %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <table class="table is-fullwidth">
    <tbody>
    {% for flow in flows %}
      {% include "flowhub/flow_detail.html" with flow=flow section="all" %}
    {% empty %}
    <tr>
      <td class="has-text-centered">{% trans "No results found" %}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  
  <div class="is-pulled-right">
      {% include "paginator.html" with paginator=flows %}
  </div>
</div>
{% endblock %}
