{% extends "flowhub/base.html" %}
{% load i18n static sass_tags ureport %}

{% block nav_item %}page-flowhub{% endblock %}

{% block css_extra %}
<link rel="stylesheet" href="{% sass_src 'css/flowhub/common.scss' %}" />
<link rel="stylesheet" href="{% sass_src 'css/flowhub/info.scss' %}" />
{% endblock %}

{% block flow_section %}{% trans "All flows" %}{% endblock %}
{% block flow_section_id %}{% if flow_section %}flowhub-{{ flow_section }}{% else %}flowhub-all{% endif %}{% endblock %}

{% block flow_content %}
<div class="column auto info">
  <div class="box detail">
    <a class="flex back" onclick="history.go(-1)">
      <i class="material-icons">keyboard_backspace</i>
      {% trans 'Return' %}
    </a>
    <hr>
    <div class="columns">
      <div class="column">
        <strong>{{ flow.name }}</strong>
        {% if request.org == flow.org and request.user|is_admin_user %}
          <form class="form-flowhub">
            {% csrf_token %}
            <a href="{% url 'flowhub.flow_update' flow.pk %}">
              <img src="{% static 'svg/pencil.svg' %}" alt="pencil">
            </a>
          </form>
        <button class="button-no-bg" id="showDeleteModal">
          <img src="{% static 'svg/trash.svg' %}" alt="trash">
        </button>
        {% endif %}
        <div class="has-text-grey-light">
          {{ flow.org.name }}
        </div>
      </div>
      <div class="column has-text-right">
        {% trans "Visible globally" %}
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <p class="has-text-weight-bold">{% trans "Description" %}</p>
        {{ flow.description }}
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <p class="has-text-weight-bold">{% trans "Collected data" %}</p>
        {{ flow.collected_data }}
      </div>
    </div>
    {% if flow.get_languages %}
    <div class="columns">
      <div class="column">
        <p class="has-text-weight-bold">{% trans "Languages" %}</p>
        {{ flow.get_languages }}
      </div>
    </div>
    {% endif %}
    <div class="columns">
      <div class="column">
        <p class="has-text-weight-bold">{% trans "Tags" %}</p>
        {% for tag in flow.tags.all %}
          <span class="tag">{{ tag }}</span>
        {% endfor %}
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <p class="has-text-weight-bold">{% trans "Languages" %}</p>
        {% for key in flow.languages %}
          {% for choice in LANGUAGES %}
            {% if key == choice.0 %}
              <span class="tag">{{ choice.1 }}</span>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <p class="has-text-weight-bold">{% trans "SDGs" %}</p>
        <div class="column">
          {% for key, name in flow.get_sdgs.items %}
            <span class="tag sdg-{{ key }}">{{ name }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column download">
        <a href="{% url 'flowhub.flow_download' flow.pk %}" class="button button-primary is-primary">{% trans "Download" %}</a>
        <span>{{ flow.downloads }} {% trans "downloads" %}</span>
      </div>
    </div>
  </div>
</div>

<div id="deleteModal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{% trans 'Are you sure?' %}</p>
      <button class="delete" aria-label="close" id="modalClose"></button>
    </header>
    <section class="modal-card-body">
      {% trans 'Do you really want to delete this flow?' %}
    </section>
    <footer class="modal-card-foot">
      <form class="form-flowhub" action="{% url 'flowhub.flow_delete' flow.pk %}" method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{ redirect_to }}" name="redirect_to"/>
        <button class="button is-danger right-m-5" type="submit">Confirm</button>
      </form>
      <button class="button dark-reverse" id="cancelDelete">Cancel</button>
    </footer>
  </div>
</div>
{% endblock %}

{% block js_extra %}
<script>
    let btn = document.querySelector('#showDeleteModal');
    let modalDlg = document.querySelector('#deleteModal');
    let modalCloseBtn = document.querySelector('#modalClose');
    let cancelBtn = document.querySelector('#cancelDelete');
    btn.addEventListener('click', function(){
        modalDlg.classList.add('is-active');
    });

    modalCloseBtn.addEventListener('click', function(){
        modalDlg.classList.remove('is-active');
    });

    cancelBtn.addEventListener('click', function(){
        modalDlg.classList.remove('is-active');
    });
</script>
{% endblock %}
