#page-surveys {
  .tabs {
    font-size: 16px;
    text-align: center;
    border: solid 1px #A014DD;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    background-color: #fff;
    color: #A014DD;

  .is-active {
    background-color: #A014DD;
    color: #fff;
    font-weight: bold;
  }

  .tab {
    &:not(:last-child) {
       border-right: solid 1px #A014DD;
     }
    }
  }

  .info-icon {
    font-size: 18px;
    color: #b3b3b3;
    cursor: default;
    vertical-align: text-bottom;
  }

  .question {
    display: grid;
    align-items: center;
    grid-gap: 10px;
    grid-template-columns: 3% 1fr;

    &__title {
      font-weight: bold;
    }

    &__number {
      color: #707070;
      border-radius: 50%;
      justify-content: center;
      display: flex;
      width: 32px;
      height: 32px;
      font-weight: bold;
      align-items: center;
      background-color: #F8E5FF;
    }
  }

  hr {
    border-bottom: 1px solid #d8d8d8;
  }

  .box {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .has-border {
    border-bottom: 1px solid #000;
    padding-bottom: 0.7rem;
  }

  #loaderDiv, #result-percent {
    background-color: #F3F3F3;
    border: 1px solid #A014DD;
    border-radius: 5px;
    color: #A014DD;
    padding: 14px 12px;
    margin-bottom: 2rem;
  }
}
