#page-surveys {
  .survey-filters {
    background-color: #FFFFFF;
    border-radius: 6px;

    .survey-filters-content {
      .sdg-checkbox {
        margin-bottom: .5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    h3 {
      color: #707070;
      font-weight: bold;
    }
  }

  .level {
    .level-item {
      align-items: flex-end;
      padding: 2rem 0;

      .dropdown {
        a {
          align-items: baseline;
        }
      }
    }
  }

  .info-icon {
    font-size: 18px;
    color: #b3b3b3;
    cursor: default;
    vertical-align: text-bottom;
  }

  .arrow-down-icon {
    align-self: flex-end;
  }

  .export-icon {
    font-size: 30px;
  }

  .survey-question {
    display: grid;
    grid-template-columns: 3rem 1fr;

    &__number {
      color: #707070;
      border-radius: 50%;
      justify-content: center;
      display: flex;
      width: 32px;
      height: 32px;
      font-weight: bold;
      align-items: center;
      background-color: #f2f6f9;
    }

    &__info {
      &__title {
        font-weight: bold;
        font-size: 18px;
        color: #3e3e3e;
      }
    }
  }

  .bottom {
    vertical-align: bottom;
  }

  .dropdown {
    z-index: 10000;
  }

  @media(max-width: 995px) {
    .survey-filters>div {
      padding: 20px 15px;
    }
  }
}
