#page-surveys {
  .survey-filters {
    background-color: #FFFFFF;
    border-radius: 6px;

    .survey-filters-content {
      .sdg-checkbox {
        margin-bottom: .5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    h3 {
      color: #707070;
      font-weight: bold;
    }
  }

  .level {
    .level-item {
      padding: 2rem 0;
    }
  }

  .info-icon {
    font-size: 18px;
    color: #b3b3b3;
    cursor: default;
    vertical-align: text-bottom;
  }

  .export-icon {
    font-size: 30px;
  }

  .survey-card {
    min-height: 65vh;
  }

  .survey-card, .global-survey-card {
    .survey-question {
      display: grid;
      grid-template-columns: 3rem 1fr;
      grid-template-rows: auto;
      padding: 25px 30px;

      &__number {
        color: #707070;
        border-radius: 50%;
        justify-content: center;
        display: flex;
        width: 32px;
        height: 32px;
        font-weight: bold;
        align-items: center;
        background-color: #f2f6f9;
      }

      &__info {
        &__title {
          font-weight: bold;
          font-size: 18px;
          color: #3e3e3e;
        }
      }
    }
  }

  .accordion-btn  {
    cursor: pointer;
    text-align: right;

    .material-icons {
      vertical-align: middle;
    }
  }

  .dropdown {
    z-index: 10000;
  }

  .flex-end {
    justify-content: flex-end;
  }

  #wordCloud {
    text-align: center;
  }

  @media(max-width: 995px) {
    .survey-filters>div {
      padding: 20px 15px;
    }
  }

  @media (min-width: 1087px) and (max-width: 1279px) {
    .survey-question {
      .tag {
        max-width: 230px;
        justify-content: end;
        overflow: hidden;
      }
    }
  }
}
