{% extends "base.html" %}

{% load smartmin i18n static %}

{% block content %}
  <div class="section has-text-centered">
    <h1 class="title">{% trans "Redirecting" %}</h1>
    <img src="{% static 'svg/bars.svg' %}" alt="">
    <div class="has-text-grey-light has-text-weight-light">
      {% trans "You are being redirected, if the page does not load," %}
      <a href="{{ authorization_url }}" id="authorization_url">{% trans "click here" %}</a>
    </div>
  </div>
{% endblock %}

{% block js_extra %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
setTimeout(function() {
  window.location.href = document.getElementById("authorization_url").href;
}, 3000);
</script>
{% endblock %}
