{% load i18n sass_tags static compress %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}UNInfo - RTM {% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'icons/css/all.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% sass_src 'css/index.scss' %}" />
  {% block css_extra %} {% endblock %}
</head>
<body id="{% block nav_item %}page-home{% endblock %}">
  {% block header %}
    {% include "header.html" %}
  {% endblock header %}
  
  <div class="container">
    {% block content %} {% endblock %}
  </div>

  {% compress js %}
  <script src="{% static 'plugins/toast/toast.js' %}"></script>
  <script type="text/javascript">
    window.RTMConfigs = {};

    const $dropdowns = getAll('.dropdown:not(.is-hoverable)');

    if ($dropdowns.length > 0) {
      $dropdowns.forEach(($el) =>{
        $el.addEventListener('click', (event) => {
          closeDropdowns();
          event.stopPropagation();
          $el.classList.toggle('is-active');
        });
      });

      document.addEventListener('click', (event) => {
        closeDropdowns();
      });
    }

    function closeDropdowns() {
      $dropdowns.forEach(($el) => {
          $el.classList.remove('is-active');
      });
    }

    function getAll(selector) {
      return Array.prototype.slice.call(document.querySelectorAll(selector), 0);
    }
  </script>
  {% endcompress %}

  <script src="{% static 'js/availableColors.js' %}"></script>

  {% block js_extra %} {% endblock %}

  {% if messages %}
  <script type="text/javascript">
    {% for message in messages %}
      bulmaToast.toast({
        message: "{{ message }}",
        type: "{% if message.tags == 'error' %}is-danger{% else %}is-success{% endif %}",
        position: "top-center",
        closeOnClick: true,
        dismissible: true
      });
    {% endfor %}
  </script>
  {% endif %}
</body>
</html>
