{% extends "base.html" %}
{% load i18n static sass_tags humanize rtm %}

{% block css_extra %}
<style>
  .list-doc > li > a {
    color: hsl(0, 0%, 48%);
  }
  .list-doc > li > .activate{
    color: #03AEEF !important;
    font-weight: bold;
  }
  ol{
    list-style-position: inside;
  }
  .ul-docs {
    list-style-type: circle;
    list-style-position: inside;
  }
</style>
{% endblock %}

{% block content %}
<section class="section">
  <h1 class="title">{% trans 'Documentation'%}</h1>
</section>
<section class="section">
  <div class="columns is-mobile">
    <div class="column is-one-third-mobile is-one-quarter">
      <aside class="box">
        <p class="menu-label has-text-black is-size-6">
          {% trans "Documentation" %}
        </p>
        <ul class="menu-list list-doc">
          <li><a href="{% url 'docs.login' %}" id="login">{% trans "Login" %}</a></li>
        </ul>
        <hr>
        <p class="menu-label has-text-black is-size-6">
          {% trans "UNCTs Documentation" %}
        </p>
        <ul class="menu-list list-doc">
          <li><a href="{% url 'docs.uncts_users' %}" id="uncts_users">{% trans "Users" %}</a></li>
          <li><a href="{% url 'docs.uncts_repository' %}" id="uncts_repository">{% trans "Repository" %}</a></li>
          <li><a href="{% url 'docs.uncts_surveys' %}" id="uncts_surveys">{% trans "Surveys" %}</a></li>
          <li><a href="{% url 'docs.uncts_dashboard' %}" id="uncts_dashboard">{% trans "Dashboard" %}</a></li>
        </ul>
        <hr>
        <p class="menu-label has-text-black is-size-6">
          {% trans "Global Documentation" %}
        </p>
        <ul class="menu-list list-doc">
          <li><a href="{% url 'docs.global_uncts' %}" id="global_uncts">{% trans "UNCTs" %}</a></li>
          <li><a href="{% url 'docs.global_users' %}" id="global_users">{% trans "Users" %}</a></li>
          <li><a href="{% url 'docs.global_repository' %}" id="global_repository">{% trans "Repository" %}</a></li>
          <li><a href="{% url 'docs.global_surveys' %}" id="global_surveys">{% trans "Global Surveys" %}</a></li>
          <li><a href="{% url 'docs.global_dashboard' %}" id="global_dashboard">{% trans "Dashboard" %}</a></li>
        </ul>
      </aside>
    </div>

    <div class="column">
      <div class="box is-shadowless is-paddingless">
        {% block content_doc %}

        {% endblock %}
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block js_extra %}

{% endblock %}
