{% load i18n ureport %}

<nav class="navbar gap-navbar" role="navigation" aria-label="main navigation">
  <div class="container">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  {% check_permissions request.org request.user as user_permissions %}
  {% if user_permissions %}
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item dashboard" href="{% url 'dashboard' %}">Dashboard</a>
        {% if request.user.is_superuser %}
          <a class="navbar-item uncts" href="{% url 'uncts.unct_list' %}">UNCTs</a>
        {% endif %}
        {% if request.user.is_superuser %}
          <a class="navbar-item users" href="{% url 'accounts.global_list' %}">Users</a>
        {% elif request.org and request.org in request.user.get_user_orgs  %}
          <a class="navbar-item users" href="{% url 'accounts.user_list' %}">Users</a>
        {% endif %}
        <a class="navbar-item flowhub" href="{% url 'flowhub.flow_list' %}">Repository</a>
        {% if request.org and request.org in request.user.get_user_orgs %}
          <a class="navbar-item surveys" href="{% url 'polls.poll_list' %}">Surveys</a>
        {% endif %}
        <!-- <a class="navbar-item rtm-help">Help</a> -->
      </div>
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            English
          </a>
          <div class="navbar-dropdown is-boxed custom-is-boxed">
            <a class="navbar-item">
              Spanish
            </a>
            <a class="navbar-item">
              Japanese
            </a>
          </div>
        </div>
        <div class="navbar-item">
          
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <i class="material-icons">account_circle</i>    
            </a>
            <div class="navbar-dropdown is-boxed custom-is-boxed">
              <a href="/users/logout/" class="navbar-item">
                Logout
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
</nav>
