{% extends "base.html" %}
{% load i18n static ureport sass_tags %}

{% block nav_item %}page-surveys-global{% endblock %}

{% block css_extra %}
<link rel="stylesheet" href="{% sass_src 'css/polls/survey_global_list.scss' %}" />
{% endblock %}


{% block content %}
<section class="section top-p-0 bottom-p-0">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'polls_global.poll_list' %}">{% trans 'Global Surveys' %}</a></li>
      <li class="is-active"><a href="#" aria-current="page">{% trans 'Grant list' %}</a></li>
    </ul>
  </nav>
</section>

<section class="section">
  <h1 class="title">{% trans "Global Surveys" %}</h1>
</section>

<section class="section top-p-0" x-data="{ tab: 'pending' }">
  <div class="tabs is-toggle is-fullwidth bottom-m-0">
    <ul>
      <li x-bind:class="{ 'is-active': tab === 'pending' }" x-on:click="tab = 'pending'">
        <a>
          <span>Pending</span>
        </a>
      </li>
      <li x-bind:class="{ 'is-active': tab === 'approved' }" x-on:click="tab = 'approved'">
        <a>
          <span>Approved</span>
        </a>
      </li>
    </ul>
  </div>

  <table class="table is-fullwidth" x-show="tab === 'pending'">
    <thead>
      <tr class="is-tr">
        <th>{% trans "Name" %}</th>
        <th class="has-text-centered">{% trans "Questions" %}</th>
        <th class="has-text-centered">{% trans "UNCT" %}</th>
        <th class="has-text-centered">{% trans "Date" %}</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody class="has-header">
      {% for poll in polls_pending %}
        <tr>
          <td>
            <a
              href="{% url 'results.poll_read' poll.poll_local.pk %}?source=global&grantList={{ poll.poll_global.pk }}"
              target="_blank">
              {{ poll.poll_local.title }}
            </a>
          </td>
          <td class="has-text-centered">{{ poll.poll_local.get_questions.count }}</td>
          <td class="has-text-centered">{{ poll.poll_local.org.name }}</td>
          <td class="has-text-centered">{{ poll.created_on|date:"m/d/Y" }}</td>
          <td>
            <a href="{% url 'polls_global.poll_update' poll.poll_global.pk poll.poll_local.pk %}?action=approve">
              <i class="material-icons">done</i>
            </a>
          </td>
          <td>
            <a href="{% url 'polls_global.poll_update' poll.poll_global.pk poll.poll_local.pk %}?action=remove">
              <i class="material-icons">clear</i>
            </a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6" class="has-text-centered">{% trans "No results found" %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <table class="table is-fullwidth" x-show="tab === 'approved'">
    <thead>
    <tr class="is-tr">
      <th>{% trans "Name" %}</th>
      <th class="has-text-centered">{% trans "Questions" %}</th>
      <th class="has-text-centered">{% trans "UNCT" %}</th>
      <th class="has-text-centered">{% trans "Joined" %}</th>
      <th></th>
    </tr>
    </thead>
    <tbody class="has-header">
    {% for poll in polls_accepted %}
    <tr>
      <td>
        <a href="{% url 'results.poll_read' poll.poll_local.pk %}" target="blank">{{ poll.poll_local.title }}</a>
      </td>
      <td class="has-text-centered">{{ poll.poll_local.get_questions.count }}</td>
      <td class="has-text-centered">{{ poll.poll_local.org.name }}</td>
      <td class="has-text-centered">{{ poll.created_on|date:"m/d/Y" }}</td>
      <td>
        <a href="{% url 'polls_global.poll_update' poll.poll_global.pk poll.poll_local.pk %}?action=remove">
          <i class="material-icons">clear</i>
        </a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="6" class="has-text-centered">{% trans "No results found" %}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}

{% block js_extra %}
<script src="https://cdn.jsdelivr.net/gh/calebporzio/project-x@v0.4.0/dist/project-x.min.js" defer></script>

<script type="text/javascript">


</script>
{% endblock %}
