{% extends "base.html" %}
{% load i18n static humanize sass_tags ureport %}

{% block nav_item %}page-dashboard{% endblock %}

{% block css_extra %}
  <link rel="stylesheet" href="{% sass_src 'css/dashboard/dashboard.scss' %}">
  <link rel="stylesheet" href="{% sass_src 'plugins/tooltip/tooltip.scss' %}">
{% endblock %}

{% block content %}
  <section class="section">
    <h1 class="title">
        {% if access_level == 'local' %}{{ request.org }} {% else %} {% trans "Global Dashboard" %} {% endif %}
    </h1>
  </section>

  <section class="section">
    <div class="box is-shadowless p-40 bottom-m-20">
      <div class="flex space-between">
        <div>
          <span class="card-title has-text-weight-bold">{% trans "SDGs being tracked" %}</span>
          <span class="tooltip top left-m-10">
            <i class="material-icons info-icon">info</i>
            <span class="tooltip-content">{% trans "Number of total messages received addressing each SDG" %}</span>
          </span>
        </div>
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <div aria-haspopup="true" aria-controls="dropdown-menu">
              <span>{% trans "Filter by" %}</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </div>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a href="javascript:loadChartTracked('week')" class="dropdown-item">{% trans "Last 7 days" %}</a>
              <a href="javascript:loadChartTracked('month')" class="dropdown-item">{% trans "Last 30 days" %}</a>
              <a href="javascript:loadChartTracked('year')" class="dropdown-item">{% trans "Last 12 months" %}</a>
              <a href="javascript:loadChartTracked('inception')" class="dropdown-item">{% trans "Since Inception" %}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="has-text-grey-light" id="sdgs_tracked_ago"></div>
      <canvas id="bubbleChart"></canvas>
      <div class="card-title has-text-weight-bold bottom-p-20">{% trans "SDGs not being tracked" %}</div>
      <ul class="untracked-sgd" id="sdgs_untracked"></ul>
    </div>

    <div class="box is-shadowless is-paddingless bottom-m-20">
      <div class="columns is-marginless">
        <div class="column is-three-fifths border-right p-40">
          <span class="card-title has-text-weight-bold">{% trans "Surveys Partial Results" %}</span>
          <span class="tooltip top left-m-10">
            <i class="material-icons info-icon">info</i>
            <span class="tooltip-content">{% trans "Partial SDG results for the lastest ongoing surveys" %}</span>
          </span>
          <div class="selected-question top-m-30">
            <div class="selected-question__title bottom-m-30" id="partial_question_title"></div>
            <div class="selected-question__chart">
              <div id="wordCloud"></div>
              <canvas id="questionChart"></canvas>
            </div>
          </div>
        </div>
        <div class="column is-paddingless" id="sdgQuestions">
          <div class="flex space-between p-30">
            <div class="card-title has-text-weight-bold" id="partial_questions_count"></div>
            <div class="dropdown is-hoverable">
              <div class="dropdown-trigger">
                <div aria-haspopup="true" aria-controls="dropdown-menu">
                  <span>{% trans "Filter by" %}</span>
                  <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
              <div class="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <a href="{% url 'dashboard' %}#sdgQuestions" class="dropdown-item sdgLink">{% trans "None" %}</a>
                  {% for key, value in SDG_LIST %}
                    <a href="javascript:loadChartPartialResults('{{ key }}')" class="dropdown-item sdgLink">{% trans "SDG" %} {{ key }}</a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="questions-list" id="partial_questions_list"></div>
        </div>
      </div>
    </div>

    <div class="box is-shadowless p-40 bottom-m-20">
      <div class="flex space-between">
        <div class="card-title has-text-weight-bold">{% trans "Message Metrics" %}</div>
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <div aria-haspopup="true" aria-controls="dropdown-menu">
              <span>{% trans "View by" %}</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </div>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a href="javascript:loadChartMessageMetrics('week')" class="dropdown-item">{% trans "Last 7 days" %}</a>
              <a href="javascript:loadChartMessageMetrics('month')" class="dropdown-item">{% trans "Last 30 days" %}</a>
              <a href="javascript:loadChartMessageMetrics('year')" class="dropdown-item">{% trans "Last 12 months" %}</a>
              <a href="javascript:loadChartMessageMetrics()" class="dropdown-item">{% trans "Since Inception" %}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-p-20 has-text-grey-light" id="message_metrics_time_ago"></div>
      <div class="flex flex-end top-m-20">
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <div aria-haspopup="true" aria-controls="dropdown-menu">
              <span>{% trans "Filter by" %}</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </div>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
                <a href="javascript:loadChartMessageMetricsByChannel()" class="dropdown-item">{% trans "All channels" %}</a>
              {% for channel in channels_info %}
                <a href="javascript:loadChartMessageMetricsByChannel('{{ channel.uuid }}')" class="dropdown-item">{{ channel.name }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <canvas id="channelsChart" height="100"></canvas>
      <div class="card-title has-text-weight-bold top-m-50">{% trans "Messages by Channel" %}</div>
      <div class="columns is-multiline top-m-30" id="message_by_channel_list"></div>
    </div>

    {% if access_level == 'local' %}
      {% include 'dashboard/local_channels_contacts.html' %}
    {% elif access_level == 'global' %}
      {% include 'dashboard/global_channels_contacts.html' %}
    {% endif %}
  </section>
{% endblock %}

{% block js_extra %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
<script src="{% static 'plugins/wordcloud/d3.js' %}"></script>
<script src="{% static 'plugins/wordcloud/d3.layout.cloud.js' %}"></script>

<script type="text/javascript">
  const dataUrl = "{% url 'dashboard_data' %}";
  let sdgsChart = null;
  let partialChart = null;
  let questionsList = null;
  let messageMetricsChart = null;
  let localMostUsedChannelsChart = null;
  let globalMostUsedChannelsChart = null;
  let questionLastId = 0;
  let messageMetricsFilterBy = "week";

  function getJsonData(params) {
    const {card, filterBy, channelUUID, sdg} = params;
  
    let url = `${dataUrl}?card=${card}`;
    if (filterBy) {
      url = `${url}&filter_by=${filterBy}`;
    }
    if (channelUUID) {
      url = `${url}&uuid=${channelUUID}`;
    }
    if (sdg) {
      url = `${url}&sdg=${sdg}`;
    }

    return $.get(url, function(result) {
      return result;
    });
  }

  function loadChartTracked(filterBy) {
    getJsonData({card: "sdg_tracked", filterBy: filterBy}).then(function(result) {
      if (result) {
        $("#sdgs_tracked_ago").html(result.time_ago);
        $("#sdgs_untracked").html("");
        $("#sdgs_untracked").html(result.sdgs_bubble_data.not_tracked_sdgs.map(function(sdg) {
          return `<li class="untracked-sgd__item">
                  <div class="untracked-sgd__item__color sdg-${sdg[0]}"></div>
                  <div class="untracked-sgd__item__label">${sdg[0]} ${sdg[1]}</div></li>`;
        }));

        if (sdgsChart) {
          sdgsChart.destroy();
        }

        if (result.sdgs_bubble_data.datasets.length == 0) {
          $("#bubbleChart").hide();
        } else {
          $("#bubbleChart").show();
          sdgsChart = new Chart(document.getElementById("bubbleChart").getContext("2d"), {
            type: "bubble",
            options: {
              responsive: true,
              legend: {
                labels: {
                  fontSize: 14,
                  padding: 18,
                  usePointStyle: true,
                },
                position: "left",
                onClick: null,
              },
              layout: {
                padding: {
                  top: 50,
                }
              },
              scales: {
                xAxes: [{
                  display: false,
                  ticks: {
                    max: 90,
                    min: -10,
                  }
                }],
                yAxes: [{
                  display: false,
                  ticks: {
                    max: 90,
                    min: -10,
                  }
                }]
              },
              tooltips: {
                bodyFontSize: 16,
                callbacks: {
                  label: function(item, data) {
                    var datasetLabel = data.datasets[item.datasetIndex].label || "";
                    var dataPoint = data.datasets[item.datasetIndex].data[item.index];
                    return " " + datasetLabel + ": " + dataPoint.r[1] + " / " + dataPoint.r[0] + "% received";
                  }
                }
              },
              plugins: {
                datalabels: {
                  display: false,
                }
              },
            },
            data: {
              datasets: result.sdgs_bubble_data.datasets,
            }
          });
        }
      }
    }); 
  }

  function loadChartPartialResults(sdg) {
    getJsonData({card: "partial_results", sdg: sdg}).then(function(result) {
      if (result) {
        $("#partial_questions_count").html(`${result.questions_count} {% trans "Questions" %}`);
        $("#partial_questions_list").html("");
        $("#partial_question_title").html("");
        questionsList = result.questions;

        if (result.questions.length > 0) {
          $("#partial_questions_list").html(result.questions.map(function(question) {
            return `<div class="questions-list__item p-30 border-bottom">
                    <a href="javascript:loadDonutPatialResult(${question.id});" class="question-link">${question.title}</a>
                    </div>`;
          }));
        } else {
          $("#partial_questions_list").html(`
            <div class="questions-list__item p-30 border-bottom">{% trans 'There are no question registered with SDG' %}</div>`);
        }

        if (result.questions.length > 0) {
          $("#partial_question_title").html(result.questions[0].title);
          loadDonutPatialResult(result.questions[0].id);
        }
      }
    });
  }

  function loadDonutPatialResult(questionId) {
    if (questionId == questionLastId) {
      return;
    }
      
    if (partialChart) {
      partialChart.destroy();
    }

    let index = questionsList.map(question => question.id).indexOf(questionId);
    let question = questionsList[index];

    d3.select("svg").remove();
    $("#partial_question_title").html(question.title);

    if (question.is_open_ended === false) {
      $('#questionChart').show();
      partialChart = new Chart(document.getElementById("questionChart").getContext("2d"), {
        type: "doughnut",
        data: {
          datasets: [{
            data: question.statistics.series,
            backgroundColor: RTMConfigs.availableColors,
            borderColor: "rgba(255, 255, 255, 0.1)",
          }],
          labels: question.statistics.labels,
        },
        options: {
          legend: {
            labels: {
              fontSize: 14,
              padding: 18,
              usePointStyle: true,
            },
            position: "left",
          },
          plugins: {
            datalabels: {
              font: {
                size: 20,
                weight: "bold",
              },
              formatter: (value, ctx) => {
                let sum = 0;
                let dataArr = ctx.chart.data.datasets[0].data;
                dataArr.map(data => {
                  sum += data;
                });
                return value > 0 ? value + "%" : "";
              },
              color: "#fff",
            }
          }
        }
      });
    } else {
      let words = question.word_cloud;
      $('#questionChart').hide();
      const fillWordColor = function(d, i) {
        return RTMConfigs.availableColors[i % RTMConfigs.availableColors.length];
      }

      let margin = {top: 0, right: 10, bottom: 10, left: 10},
        width = 350 - margin.left - margin.right,
        height = 290 - margin.top - margin.bottom;

      svg = d3.select("#wordCloud").append("svg")
        .attr("width", width)
        .attr("height", height)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      d3.scale.category20();
      var layout = d3.layout.cloud()
        .size([width, height])
        .words(words)
        .padding(5)
        .rotate(function() { return ~~(Math.random() * 2) * 90; })
        .fontSize(function(d) { return d.size; })      // font size of words
        .on("end", draw);
      layout.start();

      function draw(words) {
        svg
          .append("g")
          .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
          .selectAll("text")
          .data(words)
          .enter().append("text")
          .style("font-size", function(d) { return d.size; })
          .style("fill", fillWordColor)
          .attr("text-anchor", "middle")
          .style("font-family", "Impact")
          .attr("transform", function(d) {
            return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
          })
          .text(function(d) { return d.text; });
      }
    }

    questionLastId = questionId;
  }

  function loadChartMessageMetrics(filterBy, channelUUID) {
    messageMetricsFilterBy = filterBy;
    getJsonData({card: "message_metrics", filterBy: filterBy, channelUUID: channelUUID}).then(function(result) {
      if (messageMetricsChart) {
        messageMetricsChart.destroy();
      }
      $("#message_metrics_time_ago").html("");
      $("#message_metrics_time_ago").html(result.time_ago);
      if (result.channels_data.length > 0) {
        $("#message_by_channel_list").html(result.channels_data.map(function(channel) {
          let trendingInfo = "";

          if (channel.global > channel.total) {
            trendingInfo = `<i class="material-icons has-text-danger">trending_down</i>`;
          } else {
            trendingInfo = `<i class="material-icons has-text-success">trending_up</i>`;
          }

          return `<div class="column is-one-fifth">
                  <div class="flex">
                    <div class="tooltip top flex align-center">
                      <div class="right-m-10">
                        <span class="channel-icon ${channel.icon}"></span>
                      </div>
                      <div>
                        <div class="flex align-center">
                          <span class="channel-number is-size-5 has-text-weight-bold">${channel.total.toLocaleString()}</span>
                            ${trendingInfo}
                        </div>
                        <div>${channel.name}</div>
                      </div>
                      <div class="tooltip-content channel-tooltip flex flex-center p-20">
                        <div class="flex">
                          <div class="right-m-10">
                            <span class="channel-icon ${channel.icon}"></span>
                          </div>
                          <div>
                            <div class="is-size-6 bottom-p-20">{% trans "Global Average" %}</div>
                            <div class="flex">
                              <div>
                                <div class="flex align-center">
                                  <span class="channel-number is-size-5 has-text-weight-bold">${channel.global.toLocaleString()}</span>
                                </div>
                                <div class="is-size-6">${channel.name}</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>`;
        }));
      }

      messageMetricsChart = new Chart(document.getElementById("channelsChart").getContext("2d"), {
        type: "line",
        data: {
          labels: [...new Set(result.channels_stats.labels)],
          datasets: [{
            label: "Sent",
            borderColor: "#97d9f6",
            backgroundColor: "#97d9f6",
            data: Object.values(result.channels_stats.series.O),
          }, {
            label: "Received",
            borderColor: "#03aeef",
            backgroundColor: "#03aeef",
            data: Object.values(result.channels_stats.series.I),
          }, {
            label: "Fail",
            borderColor: "#004f94",
            backgroundColor: "#004f94",
            data: Object.values(result.channels_stats.series.E),
          }],
        },
        options: {
          legend: {
            labels: {
              padding: 18,
              usePointStyle: true,
            },
            position: "top",
          },
          scales: {
            xAxes: [{
              gridLines: {
                color: "rgba(0, 0, 0, 0)",
              }
            }],
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          },
          plugins: {
            datalabels: {
              display: false,
            }
          }
        }
      });
    });
  }

  function loadChartMessageMetricsByChannel(channelUUID) {
    loadChartMessageMetrics(messageMetricsFilterBy, channelUUID);
  }

  function loadChartMostUsedChannels(filterBy) {
    getJsonData({card: "channel_most_used", filterBy: filterBy}).then(function(result) {
      if (localMostUsedChannelsChart) {
        localMostUsedChannelsChart.destroy();
      }
      if (globalMostUsedChannelsChart) {
        globalMostUsedChannelsChart.destroy();
      }
      {% if access_level == "local" %}
      localMostUsedChannelsChart = new Chart(document.getElementById("localMostUsedChannels").getContext("2d"), {
        type: "doughnut",
        data: {
          labels: result.channels_most_used.map(item => item.name),
          datasets: [{
            data: result.channels_most_used.map(item => item.total),
            backgroundColor: RTMConfigs.availableColors,
            borderColor: "rgba(255, 255, 255, 0.1)",
          }],
        },
        options: {
          title: {
            fontSize: "16",
            display: true,
            text: "{{ request.org.name }}",
            position: "top",
          },
          legend: {
            labels: {
              padding: 18,
              usePointStyle: true,
            },
            position: "left",
          },
          plugins: {
            datalabels: {
              font: {
                size: 20,
                weight: "bold",
              },
              formatter: (value, ctx) => {
                let sum = 0;
                let dataArr = ctx.chart.data.datasets[0].data;
                dataArr.map(data => {
                  sum += data;
                });
                let percentage = parseInt((value * 100 / sum));
                return percentage > 0 ? percentage + "%" : "";
              },
              color: "#fff",
            }
          }
        },
      });
      {% endif %}

      globalMostUsedChannelsChart = new Chart(document.getElementById("globalMostUsedChannels").getContext("2d"), {
        type: "doughnut",
        data: {
          labels: result.channels_most_used_global.map(item => item.name),
          datasets: [{
            data: result.channels_most_used_global.map(item => item.total),
            backgroundColor: RTMConfigs.availableColors,
            borderColor: "rgba(255, 255, 255, 0.1)",
          }],
        },
        options: {
          title: {
            fontSize: "16",
            display: true,
            text: "Global",
            position: "top",
          },
          legend: {
            labels: {
              padding: 18,
              usePointStyle: true,
            },
            position: "left",
          },
          plugins: {
            datalabels: {
              font: {
                size: 20,
                weight: "bold",
              },
              formatter: (value, ctx) => {
                let sum = 0;
                let dataArr = ctx.chart.data.datasets[0].data;
                dataArr.map(data => {
                  sum += data;
                });
                let percentage = parseInt((value * 100 / sum));
                return percentage > 0 ? percentage + "%" : "";
              },
              color: "#fff",
            }
          }
        },
      });
    });
  }

  function loadChartRapidProContacts() {
    getJsonData({card: "rapidpro_contacts"}).then(function(result) {
      const datasets = [];

      {% if access_level == "local" %}
      datasets.push({
        label: "{{ request.org.name }}",
        borderColor: "#004f94",
        backgroundColor: "#004f94",
        data: Object.values(result.contacts_over_time.series.local),
      });
      {% endif %}

      datasets.push({
        label: "{% trans 'Global Average' %}",
        borderColor: "#7bcff6",
        backgroundColor: "#7bcff6",
        data: Object.values(result.contacts_over_time.series.global),
      });

      new Chart(document.getElementById("contactsChart").getContext("2d"), {
        type: "line",
        data: {
          labels: [...new Set(result.contacts_over_time.labels)],
          datasets: datasets
        },
        options: {
          legend: {
            labels: {
              padding: 18,
              usePointStyle: true,
            },
            position: "top",
          },
          scales: {
            xAxes: [{
              gridLines: {
                color: "rgba(0, 0, 0, 0)",
              }
            }],
          },
          plugins: {
            datalabels: {
              display: false,
            }
          }
        }
      });

      {% if access_level == "local" %}
      new Chart(document.getElementById("globalContacts").getContext("2d"), {
        type: "pie",
        data: {
          labels: [
            "{% trans 'Other UNCTs' %}",
            "{{ request.org.name }}",
          ],
          datasets: [{
            data: [result.global_total_contacts.global, result.global_total_contacts.local],
            backgroundColor: RTMConfigs.availableColors,
            borderColor: "rgba(255, 255, 255, 0.1)",
          }],
        },
        options: {
          aspectRatio: 1.5,
          legend: {
            labels: {
              padding: 18,
              usePointStyle: true,
            },
            position: "top",
          },
          plugins: {
            datalabels: {
              font: {
                size: 20,
                weight: "bold",
              },
              formatter: (value, ctx) => {
                let sum = 0;
                let dataArr = ctx.chart.data.datasets[0].data;
                dataArr.map(data => {
                  sum += data;
                });
                let percentage = parseInt((value * 100 / sum));
                return percentage > 0 ? percentage + "%" : "";
              },
              color: "#fff",
            }
          }
        },
      });
      {% endif %}
    });
  }

  $(document).ready(function() {
    loadChartTracked("week");
    loadChartPartialResults();
    loadChartMessageMetrics("week");
    loadChartMostUsedChannels("week");
    loadChartRapidProContacts();
  });
</script>
{% endblock %}
