
{% extends "base.html" %}
{% load i18n static humanize sass_tags rtm utils_extra_accounts %}

{% block nav_item %}page-dashboard{% endblock %}

{% block css_extra %}
  <link rel="stylesheet" href="{% sass_src 'css/dashboard/dashboard.scss' %}">
  <link rel="stylesheet" href="{% sass_src 'plugins/tooltip/tooltip.scss' %}">
{% endblock %}

{% block content %}
    <section class="section section-global-dashboard">
      <h1 class="title bottom-m-0">
        {% if access_level == 'local' or request.org %}
          {{request.org}}
        {% else %}
          Painel
        {% endif %}
      </h1>
      <br>
      <div class="flex space-between">
        <div class="box column level-item">
        {% if not request.org %}
          <div class="flex">
            <div class="tooltip top flex align-center">
              <div class="right-m-10">
                <img src="{% static 'svg/flag.svg' %}">
              </div>
              <div class="left-m-20">
                <div class="flex align-center">
                  <span class="is-size-6 has-text-grey-light">Organizações</span>
                </div>
                <span class="is-size-4">{{orgs_total}}</span>
              </div>
            </div>
          </div>
          <hr class="bottom-m-5 top-m-5">
          <div class="has-text-centered">
            <a class="is-size-7" onclick="showModal();">Ver todas</a>
          </div>
          <div class="modal" id="modal-uncts-global">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Organizações</p>
                <button class="delete" onclick="showModal();" aria-label="close"></button>
              </header>
              <section class="modal-card-body">
                <ul>
                  {% for name in orgs_name %}
                    <li class="border-bottom p-5">{{name}}</li>
                  {% endfor %}
                </ul>
              </section>
            </div>
          </div>
        {% endif %}
        </div>

        <div class="box column left-m-10 level-item">
          <div class="flex">
            <div class="tooltip top flex align-center">
              <div class="right-m-10">
                <img src="{% static 'svg/flag.svg' %}">
              </div>
              <div class="left-m-20">
                <div class="flex align-center">
                  <span class="is-size-6 has-text-grey-light">Total de Usuários</span>
                </div>
                <span class="is-size-4">{{orgs_total}}</span>
              </div>
            </div>
          </div>
          <hr class="bottom-m-5 top-m-5">
          <div class="has-text-centered">
            <a class="is-size-7" onclick="showModal();">Ver todas</a>
          </div>
          <div class="modal" id="modal-uncts-global">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Organizações</p>
                <button class="delete" onclick="showModal();" aria-label="close"></button>
              </header>
              <section class="modal-card-body">
                <ul>
                  {% for name in orgs_name %}
                    <li class="border-bottom p-5">{{name}}</li>
                  {% endfor %}
                </ul>
              </section>
            </div>
          </div>
        </div>

        <div class="box column left-m-10 level-item">
          <div class="flex">
            <div class="tooltip top flex align-center">
              <div class="right-m-10">
                <img src="{% static 'svg/flag.svg' %}">
              </div>
              <div class="left-m-20">
                <div class="flex align-center">
                  <span class="is-size-6 has-text-grey-light">Interação com o chat</span>
                </div>
                <span class="is-size-4">{{orgs_total}}</span>
              </div>
            </div>
          </div>
          <hr class="bottom-m-5 top-m-5">
          <div class="has-text-centered">
            <a class="is-size-7" onclick="showModal();">Ver todas</a>
          </div>
          <div class="modal" id="modal-uncts-global">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Total de fluxos</p>
                <button class="delete" onclick="showModal();" aria-label="close"></button>
              </header>
              <section class="modal-card-body">
                <ul>
                  {% for name in orgs_name %}
                    <li class="border-bottom p-5">{{name}}</li>
                  {% endfor %}
                </ul>
              </section>
            </div>
          </div>
        </div>

        <div class="box column left-m-10 level-item">
          <div class="flex">
            <div class="tooltip top flex align-center">
              <div class="right-m-10">
                <img src="{% static 'svg/flag.svg' %}">
              </div>
              <div class="left-m-20">
                <div class="flex align-center">
                  <span class="is-size-6 has-text-grey-light">Mensagens enviadas</span>
                </div>
                <span class="is-size-4">{{orgs_total}}</span>
              </div>
            </div>
          </div>
          <hr class="bottom-m-5 top-m-5">
          <div class="has-text-centered">
            <a class="is-size-7" onclick="showModal();">Ver todas</a>
          </div>
          <div class="modal" id="modal-uncts-global">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Organizações</p>
                <button class="delete" onclick="showModal();" aria-label="close"></button>
              </header>
              <section class="modal-card-body">
                <ul>
                  {% for name in orgs_name %}
                    <li class="border-bottom p-5">{{name}}</li>
                  {% endfor %}
                </ul>
              </section>
            </div>
          </div>
        </div>

        <div class="box column left-m-10 level-item" style="margin-bottom: 1.5rem !important;">
          <div class="flex">
            <div class="tooltip top flex align-center">
              <div class="right-m-10">
                <img src="{% static 'svg/flag.svg' %}">
              </div>
              <div class="left-m-20">
                <div class="flex align-center">
                  <span class="is-size-6 has-text-grey-light">Organizações</span>
                </div>
                <span class="is-size-4">{{orgs_total}}</span>
              </div>
            </div>
          </div>
          <hr class="bottom-m-5 top-m-5">
          <div class="has-text-centered">
            <a class="is-size-7" onclick="showModal();">Ver todas</a>
          </div>
          <div class="modal" id="modal-uncts-global">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Organizações</p>
                <button class="delete" onclick="showModal();" aria-label="close"></button>
              </header>
              <section class="modal-card-body">
                <ul>
                  {% for name in orgs_name %}
                    <li class="border-bottom p-5">{{name}}</li>
                  {% endfor %}
                </ul>
              </section>
            </div>
          </div>
        </div>
      </div>
    </section>

  <section class="section">

    <div class="box is-shadowless is-paddingless bottom-m-20">
      <div class="columns is-marginless">
        <div class="column is-three-fifths border-right p-40">
          <span class="card-title has-text-weight-bold">Resultados parciais dos Fluxos</span>
          <span class="tooltip top left-m-10">
            <i class="material-icons info-icon">info</i>
            <span class="tooltip-content">Resultados dos Fluxos</span>
          </span>
          <div class="selected-question top-m-30">
            <div class="selected-question__title bottom-m-10 has-text-grey-light" id="partial_question_title"></div>
            <div class="bottom-m-30">
              <a href="#" target="_blank" id="partial_questions_url">Visualizar fluxo</a>
            </div>
            <div class="selected-question__chart">
              <div id="wordCloud"></div>
              <canvas id="questionChart"></canvas>
            </div>
          </div>
        </div>
        <div class="column is-paddingless" id="sdgQuestions">
          <div class="flex space-between p-30">
            <div>
              <div class="card-title has-text-weight-bold" id="partial_questions_count"></div>
              <div class="has-text-grey-light" id="sdg_number"></div>
            </div>
          </div>
          <div class="questions-list" id="partial_questions_list"></div>
        </div>
      </div>
    </div>

    <div class="box is-shadowless p-40 bottom-m-20 metrics-message">
      <div class="flex space-between">
        <div class="card-title">
          <span class="has-text-weight-bold">Métricas de mensagens</span>
          <span class="tooltip top left-m-10">
            <i class="material-icons info-icon">info</i>
            <span class="tooltip-content">Métricas de mensagens</span>
          </span>
        </div>
        <div class="flex flex-end bottom-m-20">
          <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
              <div aria-haspopup="true" aria-controls="dropdown-menu">
                <span>Filtrar por</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </div>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                  <a href="javascript:loadChartMessageMetricsByChannel()" class="dropdown-item">Todos canais</a>
                {% for key, channel in channels_info.items %}
                  <a href="javascript:loadChartMessageMetricsByChannel('{{ channel.type }}', '{{ channel.name }}')" class="dropdown-item">{{ channel.name }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="has-text-grey-light">
        <span id="message_metrics_time_ago"></span>
        <span id="message_metrics_channel"></span>
      </div>
      <div class="flex flex-end">
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <div aria-haspopup="true" aria-controls="dropdown-menu">
              <span>Visualizar</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </div>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a href="javascript:loadChartMessageMetrics('week')" class="dropdown-item">Últimos 7 dias</a>
              <a href="javascript:loadChartMessageMetrics('month')" class="dropdown-item">Últimos 30 dias</a>
              <a href="javascript:loadChartMessageMetrics('year')" class="dropdown-item">Últimos 12 meses</a>
              <a href="javascript:loadChartMessageMetrics()" class="dropdown-item">Desde o início</a>
            </div>
          </div>
        </div>
      </div>
      <canvas id="channelsChart" height="100"></canvas>
      <div class="card-title top-m-50">
        <span class="has-text-weight-bold">Mensagens por Canal</span>
        <span class="tooltip top left-m-10">
          <i class="material-icons info-icon">info</i>
          <span class="tooltip-content">Esses resultados são o somatório das mensagens enviadas e recebidas</span>
        </span>
      </div>
      <div class="columns is-multiline top-m-30" id="message_by_channel_list"></div>
    </div>

    {% if access_level == 'local' %}
      {% include 'dashboard/local_channels_contacts.html' %}
    {% elif access_level == 'global' %}
      {% include 'dashboard/global_channels_contacts.html' %}
    {% endif %}

    <a href="#top" class="bottom-anchor">
      <i class="material-icons">keyboard_arrow_up</i>
    </a>
  </section>
  <canvas style="display: none;" id="export-bubble"></canvas>
{% endblock %}

{% block js_extra %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
<script src="{% static 'plugins/wordcloud/d3.layout.cloud.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://unpkg.com/canvg@3.0.4/lib/umd.js"></script>

<script type="text/javascript">
  function is_unct_page(){
    var is_unct = "{{ request.org }}" != "None";
    return is_unct;
  }

  function getDataImageUrlFromCanvas(element){
    var html2obj = html2canvas(element);
    var queue  = html2obj.parse();
    var canvas = html2obj.render(queue);
    var data = canvas.toDataURL('image/png');

    return data;
  }


  function generatePdf(){
    var bubble = $(".bubble");
    var svgBubble = bubble.get(0);

    // get svg data
    var svgAsString = new XMLSerializer().serializeToString(svgBubble);

    $("#export-bubble").css("display", "block");
    const canvas = $("#export-bubble").get(0);
    const ctx = canvas.getContext('2d');
    v = canvg.Canvg.fromString(ctx, svgAsString);
    v.start();

    var svgCanvasData = canvas.toDataURL('image/png')


    var pdf = new jsPDF('p','px','a4');
    var width = pdf.internal.pageSize.getWidth();
    var height = pdf.internal.pageSize.getHeight();

    //esconde botao de export
    $(".export-dashboard-dropdown").css("display", "none");

    //tirando padding left do cabecalho dashboard
    var header_dashboard = $(".header-dashboard");
    header_dashboard.removeClass("left-p-40");
    header_dashboard.css("padding-left", 0);

    //pega as divs para transformar em imagem
    var sdgs_tracked = $(".sdgss");
    var metrics_messages = $(".metrics-message");
    var most_used = $("#most_used");
    var header_metrics_sdgs = $("#header-sdgs-metrics");

    //gera imagem e adiciona ao pdf
    data = getDataImageUrlFromCanvas(sdgs_tracked);
    dataHeaderDashboard = getDataImageUrlFromCanvas(header_dashboard);
    dataHeaderSDGMetrics = getDataImageUrlFromCanvas(header_metrics_sdgs);

    if(is_unct_page()){
      pdf.addImage(dataHeaderDashboard, "png", 20, 20, width-40, height*0.08);
    }else{
      pdf.addImage(dataHeaderDashboard, "png", 20, 20, width-40, height*0.15);
    };

    pdf.addImage(dataHeaderSDGMetrics, "png", 20, height*0.2, width-40, height*0.03);
    pdf.addImage(data, "png", 20, height*0.25, (width*0.4)-20, height*0.4);
    pdf.addImage(svgCanvasData, "png", width*0.4, height*0.25, (width*0.6)-20, height*0.4);
    pdf.addPage();

    data = getDataImageUrlFromCanvas(metrics_messages);
    pdf.addImage(data, 'png', 20, 20, width-40, height*0.5);

    data = getDataImageUrlFromCanvas(most_used);
    pdf.addImage(data, 'png', 20, height*0.6, width-40, (height*0.3)-20);

    pdf.save("dashboard.pdf");

    //adicionando estilos novamente e limpando canvas
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    $("#export-bubble").css("display", "none");
    $(".export-dashboard-dropdown").css("display", "flex");
    header_dashboard.addClass("left-p-40");
    header_dashboard.css("padding-left", "1.25rem");
  }

  function showModal(){
    $("#modal-uncts-global").toggleClass("is-active");
  }

  const dataUrl = "{% url 'dashboard_data' %}";
  let sdgsChart = null;
  let partialChart = null;
  let questionsList = null;
  let messageMetricsChart = null;
  let localMostUsedChannelsChart = null;
  let globalMostUsedChannelsChart = null;
  let questionLastId = 0;
  let messageMetricsFilterBy = "week";

  function getJsonData(params) {
    const {card, filterBy, channelUUID, sdg} = params;

    let url = `${dataUrl}?card=${card}`;
    if (filterBy) {
      url = `${url}&filter_by=${filterBy}`;
    }
    if (channelUUID) {
      url = `${url}&type=${channelUUID}`;
    }
    if (sdg) {
      url = `${url}&sdg=${sdg}`;
    }

    return $.get(url, function(result) {
      return result;
    });
  }

  function renderBubbleChart(result) {
    let diameter = 600;
    let color = d3.scaleOrdinal(d3.schemeCategory20);

    // Clean up the charts.
    d3.select('#bubbleChart').selectAll('*').remove();

    let tooltip = d3.select("#bubbleChart")
        .append("div")
        .attr('class', 'bubble-tooltip');

    let svg = d3.select("#bubbleChart")
      .append("svg")
      .attr("width", diameter)
      .attr("height", diameter)
      .attr("class", "bubble");

    let dataset = {
      children: result.sdgs_bubble_data.datasets.map(d => {
        return {
          name: d.label,
          sdg: d.sdg,
          count: d.data[0].r,
          color: d.backgroundColor,
        };
      }),
    };

    let bubble = d3.pack(dataset)
      .size([diameter, diameter])
      .padding(1.5);

    let nodes = d3.hierarchy(dataset)
      .sum(function(d) { return d.count; });

    let node = svg.selectAll("node")
      .data(bubble(nodes).descendants())
      .enter()
      .filter(function(d){
        return  !d.children
      })
      .append("g")
      .attr("class", "node")
      .attr("transform", function(d) {
        return "translate(" + d.x + "," + d.y + ")";
      })
      .on("mouseover", function(d) {
        return tooltip.style("visibility", "visible")
            .text(d.data.sdg + ': ' + (d.data.count).toLocaleString() + ' messages received');
      })
      .on("mousemove", function() {
        return tooltip.style("top", (event.pageY - 110) + "px")
            .style("left", (event.pageX - 250) + "px");
      })
      .on("mouseout", function() {
        return tooltip.style("visibility", "hidden");
      });

    node
      .append("circle")
      .attr("r", function(d) {
        return d.r;
      })
      .style("fill", function(d,i) {
        return d.data.color || 'gray';
      });

    node.append("text")
      .attr("dy", ".2em")
      .style("text-anchor", "middle")
      .text(function(d) {
        let sdg = d.data.name.substring(0,3) + ' ' + d.data.name.substring(3,5);
        return sdg.substring(0, d.r / 3);
      })
      .attr("font-family",  "Roboto", "sans-serif")
      .attr("font-size", function(d){
        return d.r/5;
      })
      .attr("fill", "white");

      node.append("text")
        .attr("dy", "1.3em")
        .style("text-anchor", "middle")
        .text(function(d) {
            return (d.data.count).toLocaleString();
        })
        .attr("font-family",  "Roboto", "sans-serif")
        .attr("font-size", function(d){
            return d.r/5;
        })
        .attr("fill", "white");

    d3.select(self.frameElement)
      .style("height", diameter + "px");

    return svg;
  }

  function loadChartTracked(filterBy) {
    getJsonData({card: "sdg_tracked", filterBy: filterBy}).then(function(result) {
      if (result) {
        $("#sdgs_tracked_ago").html(result.time_ago);
        $("#sdgs_untracked").html("");
        $("#sdgs_untracked").html(result.sdgs_bubble_data.not_tracked_sdgs.map(function(sdg) {
          return `<li class="untracked-sgd__item">
                  <div class="untracked-sgd__item__color sdg-${sdg[0]}"></div>
                  <div class="untracked-sgd__item__label">${sdg[0]} ${sdg[1]}</div></li>`;
        }));

        if (result.sdgs_bubble_data.datasets.length == 0) {
          $("#sdgs_tracked").hide();
          $("#bubbleChart").hide();
          $("#empty_sdgs").show();
          $("#empty_bubble_chart").show();
        } else {
          $("#empty_sdgs").hide();
          $("#empty_bubble_chart").hide();
          $("#bubbleChart").show();
          $("#sdgs_tracked").show();
          $("#sdgs_tracked").html(result.sdgs_bubble_data.tracked_sdgs.map(function(sdg) {
            return `<li class="untracked-sgd__item">
              <div class="untracked-sgd__item__color sdg-${sdg[0]}"></div>
              <div class="untracked-sgd__item__label">${sdg[0]} ${sdg[1]}</div></li>`;
          }));

          renderBubbleChart(result);
        }
      }
    });
  }

  function loadChartPartialResults(sdg) {
    getJsonData({card: "partial_results", sdg: sdg}).then(function(result) {
      if (sdg) {
          $("#sdg_number").html("SDG" + sdg);
      } else {
          $("#sdg_number").html("");
      }

      if (result) {
        $("#partial_questions_count").html(`${result.questions_count} {% trans "Questions" %}`);
        $("#partial_questions_list").html("");
        $("#partial_question_title").html("");
        questionsList = result.questions;

        if (result.questions.length > 0) {
          $("#partial_questions_list").html(result.questions.map(function(question) {
            return `<div class="questions-list__item p-30 border-bottom">
                    <a href="javascript:loadDonutPartialResult(${question.id});" id="" class="question-link">${question.title}</a>
                    </div>`;
          }));
        } else {
          $("#partial_questions_list").html(`
            <div class="questions-list__item p-30 border-bottom">{% trans 'There are no questions registered with this SDG' %}</div>`);
        }

        if (result.questions.length > 0) {
          $("#partial_questions_url").show();
          $("#partial_question_title").html(result.questions[0].title);
          $("#partial_questions_url").attr("href", result.questions[0].url);
          loadDonutPartialResult(result.questions[0].id);
          $(".questions-list").find(".question-link").first().addClass("active");
        } else {
          $('#questionChart').hide();
          d3.select("#wordCloud svg").remove();
          $("#partial_questions_url").hide();
        }
      }
    });
  }

  function loadDonutPartialResult(questionId) {
    let $questionList = $(".questions-list"),
        $questionsItems = $questionList.find(".question-link");

    $questionList.on("click", ".question-link", function (e) {
      $questionsItems.removeClass("active");
      $(this).addClass("active");
    });

    let index = questionsList.map(question => question.id).indexOf(questionId);
    let question = questionsList[index];

    d3.select("#wordCloud svg").remove();
    $("#partial_question_title").html(question.title);
    $("#partial_questions_url").attr("href", question.url);

    if (question.is_open_ended === false) {
      $('#questionChart').show();
      if (! partialChart) {
        partialChart = new Chart(document.getElementById("questionChart").getContext("2d"), {
          type: "doughnut",
          data: {
            datasets: [{
              data: question.statistics.counts,
              backgroundColor: RTMConfigs.availableColors,
              borderColor: "rgba(255, 255, 255, 0.1)",
            }],
            labels: question.statistics.labels,
          },
          options: {
            legend: {
              labels: {
                fontSize: 14,
                padding: 18,
                usePointStyle: true,
              },
              position: "left",
            },
            plugins: {
              datalabels: {
                font: {
                  size: 20,
                  weight: "bold",
                },
                formatter: (value, ctx) => {
                  let sum = 0;
                  let dataArr = ctx.chart.data.datasets[0].data;
                  dataArr.map(data => {
                      sum += data;
                  });
                  let percentage = (value * 100 / sum);
                  if (percentage < 5) return "";
                  if (percentage === 100.00) return parseInt(percentage) + "%";
                  return percentage.toFixed(2) + "%";
                },
                color: "#fff",
              }
            }
          }
        });
      } else {
        partialChart.data = {
          datasets: [{
            data: question.statistics.counts,
            backgroundColor: RTMConfigs.availableColors,
            borderColor: "rgba(255, 255, 255, 0.1)",
          }],
          labels: question.statistics.labels,
        };
        partialChart.update();
      }
    }
    else {
      let words = question.word_cloud;
      $('#questionChart').hide();
      const fillWordColor = function(d, i) {
        return RTMConfigs.availableColors[i % RTMConfigs.availableColors.length];
      };

      let margin = {top: 0, right: 10, bottom: 10, left: 10},
        width = 350 - margin.left - margin.right,
        height = 290 - margin.top - margin.bottom;

      svg = d3.select("#wordCloud").append("svg")
        .attr("width", width)
        .attr("height", height)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      var layout = d3.layout.cloud()
        .size([width, height])
        .words(words)
        .padding(5)
        .rotate(function() { return ~~(Math.random() * 2) * 90; })
        .fontSize(function(d) { return d.size; })      // font size of words
        .on("end", draw);
      layout.start();

      function draw(words) {
        svg
          .append("g")
          .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
          .selectAll("text")
          .data(words)
          .enter().append("text")
          .style("font-size", function(d) { return d.size; })
          .style("fill", fillWordColor)
          .attr("text-anchor", "middle")
          .style("font-family", "Roboto", "sans-serif")
          .attr("transform", function(d) {
            return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
          })
          .text(function(d) { return d.text; });
      }
    }
  }

  function loadChartMessageMetrics(filterBy, channelUUID) {
    messageMetricsFilterBy = filterBy;
    getJsonData({card: "message_metrics", filterBy: filterBy, channelUUID: channelUUID}).then(function(result) {
      if (messageMetricsChart) {
        messageMetricsChart.destroy();
      }
      $("#message_metrics_time_ago").html("");
      $("#message_metrics_time_ago").html(result.time_ago);

      if (Object.values(result.channels_data).length > 0) {
        $("#message_by_channel_list").html(Object.values(result.channels_data).map(function(channel, key) {
          let trendingInfo = "";

          if (channel.global > channel.total) {
            trendingInfo = `<i class="material-icons has-text-danger">trending_down</i>`;
          } else {
            trendingInfo = `<i class="material-icons has-text-success">trending_up</i>`;
          }

          return `<div class="column is-one-fifth">
                  <div class="flex">
                    <div class="tooltip top flex align-center">
                      <div class="right-m-10">
                        <span class="channel-icon ${channel.icon}"></span>
                      </div>
                      <div>
                        <div class="flex align-center">
                          <span class="channel-number is-size-5 has-text-weight-bold">${channel.total.toLocaleString()}</span>
                            ${trendingInfo}
                        </div>
                        <div>${channel.name}</div>
                      </div>
                      <div class="tooltip-content channel-tooltip flex flex-center p-20">
                        <div class="flex">
                          <div class="right-m-10">
                            <span class="channel-icon ${channel.icon}"></span>
                          </div>
                          <div>
                            <div class="is-size-6 bottom-p-20">Média do país</div>
                            <div class="flex">
                              <div>
                                <div class="flex align-center">
                                  <span class="channel-number is-size-5 has-text-weight-bold">${channel.global.toLocaleString()}</span>
                                </div>
                                <div class="is-size-6">${channel.name}</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>`;
        }));
      }

      messageMetricsChart = new Chart(document.getElementById("channelsChart").getContext("2d"), {
        type: "line",
        data: {
          labels: [...new Set(result.channels_stats.labels)],
          datasets: [{
            label: "Sent",
            borderColor: "#730e9f",
            backgroundColor: "#730e9f",
            data: Object.values(result.channels_stats.series.O),
          }, {
            label: "Received",
            borderColor: "#A014DD",
            backgroundColor: "#A014DD",
            data: Object.values(result.channels_stats.series.I),
          }, {
            label: "Fail",
            borderColor: "#d285f4",
            backgroundColor: "#d285f4",
            data: Object.values(result.channels_stats.series.E),
          }],
        },
        options: {
          legend: {
            labels: {
              padding: 18,
              usePointStyle: true,
            },
            position: "top",
          },
          scales: {
            xAxes: [{
              gridLines: {
                color: "rgba(0, 0, 0, 0)",
              }
            }],
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          },
          plugins: {
            datalabels: {
              display: false,
            }
          }
        }
      });
    });
  }

  function loadChartMessageMetricsByChannel(channelUUID, channelName) {
    loadChartMessageMetrics(messageMetricsFilterBy, channelUUID);

    $("#message_metrics_channel").html("");

    if (channelName) {
      $("#message_metrics_channel").html(" - " + channelName);
    }
  }

  function loadChartMostUsedChannels(filterBy) {
    getJsonData({card: "channel_most_used", filterBy: filterBy}).then(function(result) {
      if (localMostUsedChannelsChart) {
        localMostUsedChannelsChart.destroy();
      }
      if (globalMostUsedChannelsChart) {
        globalMostUsedChannelsChart.destroy();
      }
      $("#channels_most_used_time_ago").html("");
      $("#channels_most_used_time_ago").html(result.time_ago);
      {% if access_level == "local" %}

        if (result.channels_most_used.length == 0) {
          $("#empty_most_used_channels").show();
        } else {
          $("#empty_most_used_channels").hide();
          localMostUsedChannelsChart = new Chart(document.getElementById("localMostUsedChannels").getContext("2d"), {
            type: "doughnut",
            data: {
              labels: result.channels_most_used.map(item => item.name),
              datasets: [{
                data: result.channels_most_used.map(item => item.total),
                backgroundColor: RTMConfigs.availableColors,
                borderColor: "rgba(255, 255, 255, 0.1)",
              }],
            },
            options: {
              title: {
                fontSize: "16",
                display: true,
                text: "{{ request.org.name }}",
                position: "top",
              },
              legend: {
                labels: {
                  padding: 18,
                  usePointStyle: true,
                },
                position: "left",
              },
              plugins: {
                datalabels: {
                  font: {
                    size: 18,
                    weight: "bold",
                  },
                  formatter: (value, ctx) => {
                    let sum = 0;
                    let dataArr = ctx.chart.data.datasets[0].data;
                    dataArr.map(data => {
                      sum += data;
                    });
                    let percentage = (value * 100 / sum);
                    if (percentage < 5) return "";
                    if (percentage === 100.00) return parseInt(percentage) + "%";
                    return percentage.toFixed(1) + "%";
                  },
                  color: "#fff",
                }
              }
            },
          });
        }
      {% endif %}

      if (result.channels_most_used_global.length == 0) {
        $("#empty_global_most_used_channels").show();
      } else {
        $("#empty_global_most_used_channels").hide();
        globalMostUsedChannelsChart = new Chart(document.getElementById("globalMostUsedChannels").getContext("2d"), {
          type: "doughnut",
          data: {
            labels: result.channels_most_used_global.map(item => item.name),
            datasets: [{
              data: result.channels_most_used_global.map(item => item.total),
              backgroundColor: RTMConfigs.availableColors,
              borderColor: "rgba(255, 255, 255, 0.1)",
            }],
          },
          options: {
            title: {
              fontSize: "16",
              display: true,
              text: "Global",
              position: "top",
            },
            legend: {
              labels: {
                padding: 18,
                usePointStyle: true,
              },
              position: "left",
            },
            plugins: {
              datalabels: {
                font: {
                  size: 18,
                  weight: "bold",
                },
                formatter: (value, ctx) => {
                  let sum = 0;
                  let dataArr = ctx.chart.data.datasets[0].data;
                  dataArr.map(data => {
                      sum += data;
                  });
                  let percentage = (value * 100 / sum);
                  if (percentage < 5) return "";
                  if (percentage === 100.00) return parseInt(percentage) + "%";
                  return percentage.toFixed(1) + "%";
                },
                color: "#fff",
              }
            }
          },
        });
      }
    });
  }

  function loadChartRapidProContacts() {
    getJsonData({card: "rapidpro_contacts"}).then(function(result) {
      const datasets = [];

      {% if access_level == "local" %}
      datasets.push({
        label: "{{ request.org.name }}",
        borderColor: "#AE1EEC",
        backgroundColor: "#AE1EEC",
        data: Object.values(result.contacts_over_time.series.local),
      });
      {% endif %}

      datasets.push({
        label: "{% trans 'Média do país' %}",
        borderColor: "#CF89EE",
        backgroundColor: "#CF89EE",
        data: Object.values(result.contacts_over_time.series.global),
      });

      new Chart(document.getElementById("contactsChart").getContext("2d"), {
        type: "line",
        data: {
          labels: [...new Set(result.contacts_over_time.labels)],
          datasets: datasets
        },
        options: {
          legend: {
            labels: {
              padding: 18,
              usePointStyle: true,
            },
            position: "top",
          },
          scales: {
            xAxes: [{
              gridLines: {
                color: "rgba(0, 0, 0, 0)",
              }
            }],
          },
          plugins: {
            datalabels: {
              display: false,
            }
          }
        }
      });

      {% if access_level == "local" %}
      new Chart(document.getElementById("globalContacts").getContext("2d"), {
        type: "pie",
        data: {
          labels: [
            "{% trans 'Other UNCTs' %}",
            "{{ request.org.name }}",
          ],
          datasets: [{
            data: [result.global_total_contacts.global, result.global_total_contacts.local],
            backgroundColor: RTMConfigs.availableColors,
            borderColor: "rgba(255, 255, 255, 0.1)",
          }],
        },
        options: {
          aspectRatio: 1.5,
          legend: {
            labels: {
              padding: 18,
              usePointStyle: true,
            },
            position: "top",
          },
          plugins: {
            datalabels: {
              font: {
                size: 20,
                weight: "bold",
              },
              formatter: (value, ctx) => {
                let sum = 0;
                let dataArr = ctx.chart.data.datasets[0].data;
                dataArr.map(data => {
                  sum += data;
                });
                let percentage = parseInt((value * 100 / sum));
                return percentage > 0 ? percentage + "%" : "";
              },
              color: "#fff",
            }
          }
        },
      });
      {% endif %}
    });
  }

  function loadAllChart(filterBy) {
    loadChartTracked(filterBy);
    loadChartMessageMetrics(filterBy);
    loadChartMostUsedChannels(filterBy);

    let textAgo = "{% trans 'Since Inception' %}";
    if (filterBy === "month") {
      textAgo = "{% trans 'Last 30 days' %}";
    } else if (filterBy === "week") {
      textAgo = "{% trans 'Last 7 days' %}";
    } else if (filterBy === "year") {
      textAgo = "{% trans 'Last 12 months' %}";
    }

    $("#all_filter").html(textAgo);
  }

  $(document).ready(function() {
    loadChartTracked("year");
    loadChartPartialResults();
    loadChartMessageMetrics("year");
    loadChartMostUsedChannels("year");
    loadChartRapidProContacts();
    $("#all_filter").html("{% trans 'Last 12 months' %}");

    $(window).scroll(function(){
      if ($(this).scrollTop() > 100) {
        $('a[href="#top"]').fadeIn();
      } else {
        $('a[href="#top"]').fadeOut();
      }
    });

    $('a[href="#top"]').click(function(){
      $('html, body').animate({scrollTop : 0},800);
      return false;
    });
  });
</script>
{% endblock %}
