{% extends "base.html" %}
{% load i18n static humanize sass_tags ureport %}

{% block nav_item %}page-dashboard{% endblock %}

{% block css_extra %}
  <link rel="stylesheet" href="{% sass_src 'css/dashboard/dashboard.scss' %}">
  <link rel="stylesheet" href="{% sass_src 'plugins/tooltip/tooltip.scss' %}">
{% endblock %}

{% block content %}
  <section class="section">
    <h1 class="title">{{ request.org }}</h1>
  </section>

  <section class="section">
    <div class="box is-shadowless p-40">
      <div class="flex space-between">
        <div>
          <span class="card-title has-text-weight-bold">{% trans "SDGs being tracked" %}</span>
          <span class="tooltip top left-m-10">
            <i class="material-icons info-icon">info</i>
            <span class="tooltip-content">{% trans "Number of total messages received addressing each SDG" %}</span>
          </span>
        </div>
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <div aria-haspopup="true" aria-controls="dropdown-menu">
              <span>{% trans "Filter by" %}</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </div>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a href="{% url 'dashboard.local' %}{% urlparams sdg_tracked_filter='week' %}" class="dropdown-item">{% trans "Last 7 days" %}</a>
              <a href="{% url 'dashboard.local' %}{% urlparams sdg_tracked_filter='month' %}" class="dropdown-item">{% trans "Last 30 days" %}</a>
              <a href="{% url 'dashboard.local' %}{% urlparams sdg_tracked_filter='year' %}" class="dropdown-item">{% trans "Last 12 months" %}</a>
              <a href="{% url 'dashboard.local' %}{% urlparams sdg_tracked_filter='inception' %}" class="dropdown-item">{% trans "Since Inception" %}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="has-text-grey-light">
        {% if sdg_tracked_filter == 'week' %}
          {% trans "Last 7 days" %}
        {% elif sdg_tracked_filter == 'month' %}
          {% trans "Last 30 days" %}
        {% elif sdg_tracked_filter == 'inception' %}
          {% trans "Since inception" %}
        {% else %}
          {% trans "Last 12 months" %}
        {% endif %}
      </div>
      <canvas id="bubbleChart"></canvas>
      <div class="card-title has-text-weight-bold bottom-p-20">{% trans "SDGs not being tracked" %}</div>
      <ul class="untracked-sgd">
        {% for key, value in sdgs_bubble_data.not_tracked_sdgs %}
          <li class="untracked-sgd__item">
            <div class="untracked-sgd__item__color sdg-{{key}}"></div>
            <div class="untracked-sgd__item__label">{{key}} {{value}}</div>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="box is-shadowless is-paddingless">
      <div class="columns is-marginless">
        <div class="column is-three-fifths border-right p-40">
          <span class="card-title has-text-weight-bold">{% trans "Surveys Partial Results" %}</span>
          <span class="tooltip top left-m-10">
            <i class="material-icons info-icon">info</i>
            <span class="tooltip-content">{% trans "Partial SDG results for the lastest ongoing surveys" %}</span>
          </span>
          <div class="selected-question top-m-30">
            <div class="selected-question__title bottom-m-30">
              {{ survey_result_sdg_questions.0.title }}
            </div>
            <div class="selected-question__chart">
              <div id="wordCloud"></div>
              <canvas id="questionChart"></canvas>
            </div>
          </div>
        </div>
        <div class="column is-paddingless" id="sdgQuestions">
          <div class="flex space-between has-text-weight-bold p-30">
            <div class="card-title">{{ survey_result_sdg_questions|length }} {% trans "Questions" %}</div>
            <div class="dropdown is-hoverable">
              <div class="dropdown-trigger">
                <div aria-haspopup="true" aria-controls="dropdown-menu">
                  <span>{% trans "Filter by" %}</span>
                  <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
                </div>
              </div>
              <div class="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <a href="{% url 'dashboard.local' %}#sdgQuestions" class="dropdown-item sdgLink">{% trans "None" %}</a>
                  {% for key, value in SDG_LIST %}
                    <a href="{% url 'dashboard.local' %}{% urlparams survey_result_sdg=key %}#sdgQuestions" class="dropdown-item sdgLink">{% trans "SDG" %} {{ key }}</a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="questions-list">
            {% for question in survey_result_sdg_questions %}
              <div class="questions-list__item p-30 border-bottom">
                <a href="javascript:showChart('{{ question.pk }}', '{{ question.title }}', '{{ question.is_open_ended }}');" class="question-link">{{ question.title }}</a>
              </div>
            {% empty %}
              <div class="questions-list__item p-30 border-bottom">
                {% trans "There are no question registered with SDG" %} {{ survey_result_sdg.0 }} - {{ survey_result_sdg.1 }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="box is-shadowless p-40" id="message_metrics">
      <div class="flex space-between">
        <div class="card-title has-text-weight-bold">{% trans "Message Metrics" %}</div>
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <div aria-haspopup="true" aria-controls="dropdown-menu">
              <span>{% trans "View by" %}</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </div>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a href="?message_metrics_by=week&message_metrics_uuid={{ channels_metrics_uuid }}#message_metrics" class="dropdown-item">{% trans "Last 7 days" %}</a>
              <a href="?message_metrics_by=month&message_metrics_uuid={{ channels_metrics_uuid }}#message_metrics" class="dropdown-item">{% trans "Last 30 days" %}</a>
              <a href="?message_metrics_by=year&message_metrics_uuid={{ channels_metrics_uuid }}#message_metrics" class="dropdown-item">{% trans "Last 12 months" %}</a>
              <a href="?message_metrics_by=&message_metrics_uuid={{ channels_metrics_uuid }}#message_metrics" class="dropdown-item">{% trans "Since Inception" %}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-p-20 has-text-grey-light">{{ channels_messages_ago }}</div>
      <div class="flex flex-end top-m-20">
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <div aria-haspopup="true" aria-controls="dropdown-menu">
              <span>{% trans "Filter by" %}</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </div>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
                <a href="?message_metrics_by={{ channels_metrics_by }}#message_metrics" class="dropdown-item">{% trans "All channels" %}</a>
              {% for uuid, channel in channels_info.items %}
                <a href="?message_metrics_uuid={{ uuid }}&message_metrics_by={{ channels_metrics_by }}#message_metrics" class="dropdown-item">{{ channel.name }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <canvas id="channelsChart" height="100"></canvas>
      <div class="card-title has-text-weight-bold top-m-50">{% trans "Messages by Channel" %}</div>
      <div class="columns is-multiline top-m-30">
        {% for uuid, channel in channels_data.items %}
        <div class="column is-one-fifth">
          <div class="flex">
            <div class="tooltip top flex align-center">
              <div class="right-m-10">
                <span class="channel-icon {{ channel.icon }}"></span>
              </div>
              <div>
                <div class="flex align-center">
                  <span class="channel-number is-size-5 has-text-weight-bold">{{ channel.total|intcomma }}</span>
                    {% if channel.global|intcomma > channel.total|intcomma %}
                      <i class="material-icons has-text-danger">trending_down</i>
                    {% else %}
                      <i class="material-icons has-text-success">trending_up</i>
                    {% endif %}
                </div>
                <div>{{ channel.name }}</div>
              </div>
              <div class="tooltip-content channel-tooltip flex flex-center p-20">
                <div class="flex">
                  <div class="right-m-10">
                    <span class="channel-icon {{ channel.icon }}"></span>
                  </div>
                  <div>
                    <div class="is-size-6 bottom-p-20">{% trans "Global Average" %}</div>
                    <div class="flex">
                      <div>
                        <div class="flex align-center">
                          <span class="channel-number is-size-5 has-text-weight-bold">{{ channel.global|intcomma }}</span>
                        </div>
                        <div class="is-size-6">{{ channel.name }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="columns" id="most_used">
      <div class="column">
        <div class="box is-shadowless">
          <div class="p-20 flex space-between">
            <div class="card-title has-text-weight-bold">{% trans "Most used Channels" %}</div>
            <div class="dropdown is-hoverable">
              <div class="dropdown-trigger">
                <div aria-haspopup="true" aria-controls="dropdown-menu">
                  <span>{% trans "Filter by" %}</span>
                  <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
                </div>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <a href="?most_used_by=week#most_used" class="dropdown-item">{% trans "Last 7 days" %}</a>
                  <a href="?most_used_by=month#most_used" class="dropdown-item">{% trans "Last 30 days" %}</a>
                  <a href="?most_used_by=year#most_used" class="dropdown-item">{% trans "Last 12 months" %}</a>
                  <a href="?most_used_by=#most_used" class="dropdown-item">{% trans "Since Inception" %}</a>
                </div>
              </div>
            </div>
          </div>
          <div class="left-p-20 bottom-p-20 has-text-grey-light">{{ channels_most_used_ago }}</div>
          <div class="columns">
            <div class="column">
              <canvas id="localMostUsedChannels"></canvas>
            </div>
            <div class="column">
              <canvas id="globalMostUsedChannels"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-one-fifth">
        <div class="surveys-card grid box is-shadowless">
          <div class="card-title left-p-10 top-p-10 bottom-p-20">
            <span class="has-text-weight-bold">{% trans "Surveys" %}</span>
            <span class="tooltip top left-m-10">
              <i class="material-icons info-icon">info</i>
              <span class="tooltip-content">{% trans "Surveys being conducted through the RTM" %}</span>
            </span>
          </div>
          <div class="grid align-center">
            <div class="surveys-info has-text-centered bottom-p-30 border-bottom">
              <div class="surveys-info__number">{{ surveys_total }}</div>
              <div class="surveys-info_unct">{{ request.org.name }}</div>
            </div>
            <div class="surveys-info has-text-centered top-p-30 bottom-p-30">
              <div class="surveys-info__number">--</div>
              <div class="surveys-info_unct">{% trans "Global" %}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box is-shadowless">
      <div class="card-title p-20 has-text-weight-bold">{% trans "RapidPro Contacts" %}</div>
      <div class="columns p-20">
        <div class="column is-three-fifths">
          <div class="has-text-weight-bold bottom-m-20">{% trans "Contacts growth over time" %}</div>
          <canvas id="contactsChart"></canvas>
        </div>
        <div class="column">
          <div class="has-text-weight-bold bottom-m-20">{% trans "Portion of Global Total Contacts" %}</div>
          <canvas id="pieChart"></canvas>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block js_extra %}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
  <script src="{% static 'plugins/wordcloud/d3.js' %}"></script>
  <script src="{% static 'plugins/wordcloud/d3.layout.cloud.js' %}"></script>

{{ sdgs_bubble_data.datasets|json_script:'SDGSBubbleChartDataDatasets' }}

  <script>
    let bubbleCtx = document.getElementById('bubbleChart').getContext('2d');
    let bubbleChart = new Chart(bubbleCtx, {
      type: 'bubble',
      options: {
        responsive: true,
        legend: {
          labels: {
            fontSize: 14,
            padding: 18,
            usePointStyle: true,
          },
          position: 'left',
        },
        layout: {
          padding: {
            top: 50,
          }
        },
        plugins: {
          datalabels: {
            display: false,
          }
        },
      },
      data: {
        datasets: JSON.parse(document.getElementById('SDGSBubbleChartDataDatasets').textContent)
      }
    });

    const surveys_results_statistics = [];
    const surveys_results_words = [];

    {% for question in survey_result_sdg_questions %}
      question = {{ question.pk }};
      {% if not question.is_open_ended %}
        surveys_results_statistics[question] = {
          labels: [],
          series: [],
        };
        {% with results=question|question_results %}
          {% with categories=results.categories %}
            {% for category in categories %}
              surveys_results_statistics[question]["labels"].push("{{ category.label|safe }}");
              surveys_results_statistics[question]["series"].push(parseInt("{% widthratio category.count results.set 100 %}"));
            {% endfor %}
          {% endwith %}
        {% endwith %}
      {% else %}        
        surveys_results_words[question] = [];
        {% for category in question.get_results.0.categories %}
          surveys_results_words[question].push({
            text: "{{ category.label|upper }}",
            size: {% if category.count < 10 %}20 +{% endif %}{{ category.count }},
          });
        {% endfor %}

      {% endif %}
    {% endfor %}

    (function ($) {
      let $questionList = $('.questions-list'),
        $questionsItems = $questionList.find('.questions-list__item');

      $questionsItems.first().addClass('active');

      $questionList.on('click', '.questions-list__item', function (e) {
        $questionsItems.removeClass('active');
        $(this).addClass('active');
      });
    })(jQuery);

    let donutChart;
    let wordCloud;
    let svg;
    let lastQuestion = 0;

    function showChart(question, title, is_open_ended) {
      if (question == lastQuestion) {
        return;
      }

      let donutCtx = document.getElementById('questionChart');
      if (donutChart) {
        donutChart.destroy();
      }
      d3.select("svg").remove();
      $('.selected-question__title').html(title);

      if (is_open_ended === "False") {
        $('#questionChart').show();
        donutChart = new Chart(donutCtx.getContext("2d"), {
          type: "doughnut",
          data: {
            datasets: [{
              data: surveys_results_statistics[question].series,
              backgroundColor: RTMConfigs.availableColors,
              borderColor: "rgba(255, 255, 255, 0.1)",
            }],
            labels: surveys_results_statistics[question].labels
          },
          options: {
            legend: {
              labels: {
                fontSize: 14,
                padding: 18,
                usePointStyle: true,
              },
              position: 'left',
            },
            plugins: {
              datalabels: {
                formatter: (value, ctx) => {
                  let sum = 0;
                  let dataArr = ctx.chart.data.datasets[0].data;
                  dataArr.map(data => {
                    sum += data;
                  });
                  let percentage = parseInt((value * 100 / sum));
                  return percentage > 0 ? percentage + "%" : "";
                },
                color: '#fff',
              }
            }
          }
        });
      } else {
        let words = surveys_results_words[question];
        $('#questionChart').hide();
        const fillWordColor = function(d, i) {
          return RTMConfigs.availableColors[i % RTMConfigs.availableColors.length];
        }

        let margin = {top: 0, right: 10, bottom: 10, left: 10},
          width = 350 - margin.left - margin.right,
          height = 290 - margin.top - margin.bottom;

        svg = d3.select("#wordCloud").append("svg")
          .attr("width", width)
          .attr("height", height)
          .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        d3.scale.category20();
        var layout = d3.layout.cloud()
          .size([width, height])
          .words(words)
          .padding(5)
          .rotate(function() { return ~~(Math.random() * 2) * 90; })
          .fontSize(function(d) { return d.size; })      // font size of words
          .on("end", draw);
        layout.start();

        function draw(words) {
          svg
            .append("g")
            .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
            .selectAll("text")
            .data(words)
            .enter().append("text")
            .style("font-size", function(d) { return d.size; })
            .style("fill", fillWordColor)
            .attr("text-anchor", "middle")
            .style("font-family", "Impact")
            .attr("transform", function(d) {
              return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
            })
            .text(function(d) { return d.text; });
        }
      }

      lastQuestion = question;
    }

    showChart({{ survey_result_sdg_questions.0.pk }}, "{{ survey_result_sdg_questions.0.title }}", "{{ survey_result_sdg_questions.0.is_open_ended }}");

    const channel_results_labels = [];
    const channel_results_data = {
      O: [],
      I: [],
      E: [],
    };
    let channel_metrics_key = "";
    {% for stats in channels_chart_stats %}
      {% if channels_metrics_by == "year" or channels_metrics_by == "" %}
        channel_metrics_key = "{{ stats.date|date:'F/Y' }}";
      {% else %}
        channel_metrics_key = "{{ stats.date|date:'d/m' }}";
      {% endif %}

      channel_results_data["I"][channel_metrics_key] = (typeof channel_results_data["I"][channel_metrics_key] != "undefined") ? channel_results_data["I"][channel_metrics_key] : 0;
      channel_results_data["O"][channel_metrics_key] = (typeof channel_results_data["O"][channel_metrics_key] != "undefined") ? channel_results_data["O"][channel_metrics_key] : 0;
      channel_results_data["E"][channel_metrics_key] = (typeof channel_results_data["E"][channel_metrics_key] != "undefined") ? channel_results_data["E"][channel_metrics_key] : 0;
      channel_results_data["{{ stats.msg_direction }}"][channel_metrics_key] += {{ stats.count }};
      channel_results_labels.push(channel_metrics_key);
    {% endfor %}
    
    let channelsCtx = document.getElementById('channelsChart').getContext('2d');
    let channelsChart = new Chart(channelsCtx, {
      type: 'line',
      data: {
        labels: [...new Set(channel_results_labels)],
        datasets: [{
          label: 'Sent',
          borderColor: '#c9f4ff',
          backgroundColor: '#c9f4ff',
          data: Object.values(channel_results_data.O),
        }, {
          label: 'Received',
          borderColor: '#03aeef',
          backgroundColor: '#03aeef',
          data: Object.values(channel_results_data.I),
        }, {
          label: 'Fail',
          // borderColor: '#0400a4',
          backgroundColor: '#0400a4',
          data: Object.values(channel_results_data.E),
        }],
      },
      options: {
        legend: {
          labels: {
            padding: 18,
            usePointStyle: true,
          },
          position: 'top',
        },
        scales: {
          xAxes: [{
            gridLines: {
              color: "rgba(0, 0, 0, 0)",
            }
          }],
        },
        plugins: {
          datalabels: {
            display: false,
          }
        }
      }
    });

    const localMostUsedResults = {
      labels: [],
      data: [],
    };

    {% for most_used in channels_most_used %}
      localMostUsedResults.labels.push("{{ most_used.name }}");
      localMostUsedResults.data.push("{{ most_used.total }}");
    {% endfor %}

    let localMostUsedCtx = document.getElementById('localMostUsedChannels').getContext('2d');
    let localMostUsedChannels = new Chart(localMostUsedCtx, {
      type: 'doughnut',
      data: {
        labels: localMostUsedResults.labels,
        datasets: [{
          data: localMostUsedResults.data,
          backgroundColor: [
            '#97d9f6',
            '#03aeef',
            '#0e08e9',
          ],
          borderColor: "rgba(255, 255, 255, 0.1)",
        }],
      },
      options: {
        title: {
          fontSize: '16',
          display: true,
          text: '{{ request.org.name }}',
          position: 'top',
        },
        legend: {
          labels: {
            padding: 18,
            usePointStyle: true,
          },
          position: 'left',
        },
        plugins: {
          datalabels: {
            formatter: (value, ctx) => {
              let sum = 0;
              let dataArr = ctx.chart.data.datasets[0].data;
              dataArr.map(data => {
                sum += data;
              });
              let percentage = parseInt((value * 100 / sum));
              return percentage > 0 ? percentage + "%" : "";
            },
            color: '#fff',
          }
        }
      },
    });

    const globalMostUsedResults = {
      labels: [],
      data: [],
    };

    {% for most_used in channels_most_used_global %}
      globalMostUsedResults.labels.push("{{ most_used.name }}");
      globalMostUsedResults.data.push("{{ most_used.total }}");
    {% endfor %}

    let globalMostUsedCtx = document.getElementById('globalMostUsedChannels').getContext('2d');
    let globalMostUsedChannels = new Chart(globalMostUsedCtx, {
      type: 'doughnut',
      data: {
        labels: globalMostUsedResults.labels,
        datasets: [{
          data: globalMostUsedResults.data,
          backgroundColor: [
            '#97d9f6',
            '#03aeef',
            '#0e08e9',
          ],
          borderColor: "rgba(255, 255, 255, 0.1)",
        }],
      },
      options: {
        title: {
          fontSize: '16',
          display: true,
          text: 'Global',
          position: 'top',
        },
        legend: {
          labels: {
            padding: 18,
            usePointStyle: true,
          },
          position: 'left',
        },
        plugins: {
          datalabels: {
            formatter: (value, ctx) => {
              let sum = 0;
              let dataArr = ctx.chart.data.datasets[0].data;
              dataArr.map(data => {
                sum += data;
              });
              let percentage = parseInt((value * 100 / sum));
              return percentage > 0 ? percentage + "%" : "";
            },
            color: '#fff',
          }
        }
      },
    });

    let pieCtx = document.getElementById('pieChart').getContext('2d');
    let pieChart = new Chart(pieCtx, {
      type: 'pie',
      data: {
        labels: [
          'Other UNCTs',
          '{{ request.org.name }}',
        ],
        datasets: [{
          data: [{{ global_total_contacts.global }}, {{ global_total_contacts.local }}],
          backgroundColor: [
            '#03aeef',
            '#0054e2',
          ],
          borderColor: "rgba(255, 255, 255, 0.1)",
        }],
      },
      options: {
        aspectRatio: 1.5,
        legend: {
          labels: {
            padding: 18,
            usePointStyle: true,
          },
          position: 'top',
        },
        plugins: {
          datalabels: {
            formatter: (value, ctx) => {
              let sum = 0;
              let dataArr = ctx.chart.data.datasets[0].data;
              dataArr.map(data => {
                sum += data;
              });
              let percentage = parseInt((value * 100 / sum));
              return percentage > 0 ? percentage + "%" : "";
            },
            color: '#fff',
          }
        }
      },
    });

    const overtime_results_labels = [];
    const overtime_results_data = {
      local: [],
      global: [],
    };
    let overtime_results_key = "";

    {% for stats in contacts_over_time %}
      overtime_results_key = "{{ stats.month|get_month_name }}";
      overtime_results_data["local"][overtime_results_key] = (typeof overtime_results_data["local"][overtime_results_key] != "undefined") ? overtime_results_data["local"][overtime_results_key] : 0;
      overtime_results_data["global"][overtime_results_key] = (typeof overtime_results_data["global"][overtime_results_key] != "undefined") ? overtime_results_data["global"][overtime_results_key] : 0;
      
      overtime_results_data[{% if stats.org == request.org.id %}"local"{% else %}"global"{% endif %}][overtime_results_key] = {{ stats.total }};
      overtime_results_labels.push(overtime_results_key);
    {% endfor %}

    let contactsCtx = document.getElementById('contactsChart').getContext('2d');
    let contactsChart = new Chart(contactsCtx, {
      type: 'line',
      data: {
        labels: [...new Set(overtime_results_labels)],
        datasets: [
          {
            label: '{{ request.org.name }}',
            borderColor: '#0400a4',
            backgroundColor: '#0400a4',
            data: Object.values(overtime_results_data.local),
          }, {
            label: 'Global Average',
            borderColor: '#00adf3',
            backgroundColor: '#00adf3',
            data: Object.values(overtime_results_data.global),
        }]
      },
      options: {
        legend: {
          labels: {
            padding: 18,
            usePointStyle: true,
          },
          position: 'top',
        },
        scales: {
          xAxes: [{
            gridLines: {
              color: "rgba(0, 0, 0, 0)",
            }
          }],
        },
        plugins: {
          datalabels: {
            display: false,
          }
        }
      }
    });
  </script>

{% endblock %}
