{% extends "base.html" %}
{% load i18n static sass_tags ureport %}

{% block nav_item %}page-dashboard{% endblock %}

{% block css_extra %}
  <link rel="stylesheet" href="{% sass_src 'css/dashboard/dashboard.scss' %}">
  <link rel="stylesheet" href="{% sass_src 'plugins/tooltip/tooltip.scss' %}">
{% endblock %}

{% block content %}
  <section class="section">
    <h1 class="title">{{ request.org }}</h1>
  </section>

  <section class="section">
    <div class="box is-shadowless">
      <div class="left-p-20">
        <span class="has-text-weight-bold">SDGs being tracked</span>
        <span class="tooltip top left-m-10">
          <i class="material-icons info-icon">info</i>
          <span class="tooltip-content">{% trans 'Number of total messages received addressing each SDG'%}</span>
        </span>
      </div>     
      <canvas id="bubbleChart" height="20vh" width="40vw"></canvas>
    </div>
  </section>
{% endblock %}

{% block js_extra %}

{% for key, value in bublle_data.items %}
  {{ value|json_script:key }}
{% endfor %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script>
    let bubbleCtx = document.getElementById('bubbleChart').getContext('2d');
    let bubbleChart = new Chart(bubbleCtx, {
      type: 'bubble',
      options: {
        responsive: true,
        legend: {
          display: true,
          labels: {
            fontSize: 14,
            padding: 18,
            usePointStyle: true,
          },
          position: 'left',
        },
      },
      data: {
        datasets: [
          {
            label: '1 NO POVERTY',
            data: [JSON.parse(document.getElementById('1').textContent)],
            backgroundColor:"#e3263b",
            borderColor: '#FFFFFF',
          },
          {
            label: '2 ZERO HUNGER',
            data: [JSON.parse(document.getElementById('2').textContent)],
            backgroundColor:"#dfa739",
            borderColor: '#FFFFFF',
          },
          {
            label: '3 GOOD HEALTH AND WELL-BEING',
            data: [JSON.parse(document.getElementById('3').textContent)],
            backgroundColor:"#4d9f45",
            borderColor: '#FFFFFF',
          },
          {
            label: '4 QUALITY EDUCATION',
            data: [JSON.parse(document.getElementById('4').textContent)],
            backgroundColor:"#c5202e",
            borderColor: '#FFFFFF',
          },
          {
            label: '5 GENDER EQUALITY',
            data: [JSON.parse(document.getElementById('5').textContent)],
            backgroundColor:"#ef402c",
            borderColor: '#FFFFFF',
          },
          {
            label: '6 CLEAN WATER AND SANITATION',
            data: [JSON.parse(document.getElementById('6').textContent)],
            backgroundColor:"#29bee2",
            borderColor: '#FFFFFF',
          },
          {
            label: '7 AFFORDABLE AND CLEAN ENERGY',
            data: [JSON.parse(document.getElementById('7').textContent)],
            backgroundColor:"#f9c316",
            borderColor: '#FFFFFF',
          },
          {
            label: '8 DECENT WORK AND ECONOMIC GROWTH',
            data: [JSON.parse(document.getElementById('8').textContent)],
            backgroundColor:"#a21b45",
            borderColor: '#FFFFFF',
          },
          {
            label: '9 INDUSTRY, INNOVATION AND INFRASTRUCTURE',
            data: [JSON.parse(document.getElementById('9').textContent)],
            backgroundColor:"#f3692c",
            borderColor: '#FFFFFF',
          },
          {
            label: '10 REDUCED INEQUALITY',
            data: [JSON.parse(document.getElementById('10').textContent)],
            backgroundColor:"#dd2467",
            borderColor: '#FFFFFF',
          },
          {
            label: '11 SUSTAINABLE CITIES AND COMMUNITIES',
            data: [JSON.parse(document.getElementById('11').textContent)],
            backgroundColor:"#f99d28",
            borderColor: '#FFFFFF',
          },
          {
            label: '12 RESPONSIBLE COMSUMPTION AND PRODUCTION',
            data: [JSON.parse(document.getElementById('12').textContent)],
            backgroundColor:"#be8b2d",
            borderColor: '#FFFFFF',
          },
          {
            label: '13 CLIMATE ACTION',
            data: [JSON.parse(document.getElementById('13').textContent)],
            backgroundColor:"#407f45",
            borderColor: '#FFFFFF',
          },
          {
            label: '14 LIFE BELOW WATER',
            data: [JSON.parse(document.getElementById('14').textContent)],
            backgroundColor:"#1c97d3",
            borderColor: '#FFFFFF',
          },
          {
            label: '15 LIFE ON LAND',
            data: [JSON.parse(document.getElementById('15').textContent)],
            backgroundColor:"#5ebb47",
            borderColor: '#FFFFFF',
          },
          {
            label: '16 PEACE AND JUSTICE STRONG INSTITUTIONS',
            data: [JSON.parse(document.getElementById('16').textContent)],
            backgroundColor:"#056a9d",
            borderColor: '#FFFFFF',
          },
          {
            label: '17 PARTNERSHIPS TO ACHIEVE THE GOAL',
            data: [JSON.parse(document.getElementById('17').textContent)],
            backgroundColor:"#18486a",
            borderColor: '#FFFFFF',
          },
        ]
      }
    });
  </script>

{% endblock %}
