{% extends "base.html" %}
{% load static sass_tags %}

{% block css_extra %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/jqvmap.min.css">
  <link rel="stylesheet" href="{% sass_src 'plugins/worldmap/style.scss' %}">
  <link rel="stylesheet" href="{% sass_src 'css/worldmap/index.scss' %}">
{% endblock %}

{% block content %}
  <div class="worldmap">
    <div id="vmap" style="height: 80vh"></div>
    <div id="mapLegend" class="map-legend">
      <div>UNCTs Engagement (%)</div>
      <div class="map-legend__inner">
        <div>0</div>
        <div class="map-legend__inner__block__lighter"></div>
        <div class="map-legend__inner__block__light"></div>
        <div class="map-legend__inner__block__normal"></div>
        <div class="map-legend__inner__block__dark"></div>
        <div class="map-legend__inner__block__darker"></div>
        <div>100</div>
      </div>
    </div>
  </div>
  <div x-data="{ open: false, countryName: '' }" x-on:opendetail.window="countryName = $event.detail.countryName; open = true;">

  <div
      x-show="open"
      x-transition:leave-start="opacity-100 transform scale-100"
      class="side-navigation">
    <div class="flex space-between bottom-m-40">
      <h2 x-text="countryName"></h2>
      <img
              src="{% static 'svg/cross.svg' %}"
              alt=""
              @click="open = false"
              class="close-btn">
    </div>

    <div class="bottom-m-20">
      <img src="{% static 'svg/sdg-1.svg' %}" alt="">
      <span>11 SDGs being tracked</span>
    </div>

    <div class="bottom-m-20">
      <img src="{% static 'svg/email.svg' %}" alt="">
      <span>245.6 received messages</span>
    </div>

    <div class="bottom-m-20">
      <img src="{% static 'svg/paper-plane.svg' %}" alt="">
      <span>245.6 sent messages</span>
    </div>

    <div class="bottom-m-20">
      <img src="{% static 'svg/multiple-users-silhouette.svg' %}" alt="">
      <span>50.000 contacts reached</span>
    </div>

    <div class="flex space-between btn-group">
      <button class="button primary-reverse">Survey Results</button>
      <button class="button is-primary">Dashboard</button>
    </div>
  </div>
</div>
{% endblock %}

{% block js_extra %}
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v1.9.5/dist/alpine.js" defer></script>
  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/jquery.vmap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/maps/jquery.vmap.world.js" charset="utf-8"></script>
  <script src="{% static 'plugins/worldmap/jquery.vmap.sampledata.js' %}" charset="utf-8"></script>

  <script>
    jQuery(document).ready(function() {
      jQuery('#vmap').vectorMap({
        map: 'world_en',
        backgroundColor: '#fff',
        color: '#e3ecf1',
        hoverOpacity: 1,
        scaleColors: ['#bee8fa', '#2c619a'],
        borderColor: '#ececec',
        borderWidth: .1,
        enableZoom: true,
        hoverColor: '#c9dfaf',
        normalizeFunction: 'linear',
        selectedRegions: null,
        selectedColor: null,
        showTooltip: true,
        values: sample_data,
        onRegionClick: function(element, code, label, region)
        {
          if (states.indexOf(code) <= -1) {
            event.preventDefault();
          } else {
            window.dispatchEvent(new CustomEvent('opendetail', {
              detail: {
                countryName: label,
              },
            }));
          }
        },
        onLabelShow: function(event, label, code) {
          states = Object.keys(sample_data);
          if (states.indexOf(code) <= -1) {
            event.preventDefault();
          } else {
            label[0].innerHTML = "<div class='tooltip'>"
            + "<h1 class='bottom-m-10'>" + label[0].innerHTML + "</h1>"
            + "<div class='bottom-m-10'>"
              + "<img src=\"{% static 'svg/email.svg' %}\" alt='' class='right-m-10'>"
              + "<span>245.6 received messages</span>" + "</div>"
            + "<div>"
              + "<img src=\"{% static 'svg/paper-plane.svg' %}\" alt='' class='right-m-10'>"
              + "<span>245.6 sent messages</span>" + "</div>"
            + "</div>";
          }
        },
      });
      jQuery('#mapLegend').css('display', 'block');
    });
  </script>
{% endblock %}
