#page-flowhub {
  .info {
    .back {
      color: #4a4a4a;
      i {
        margin-right: .5rem;
      }
    }
  }

  .detail {
    margin-top: 0px;
  }

  .sdgs {
    display: flex;
    flex-wrap: wrap;

    span {
      margin: 0.3rem;
    }
  }

  button[type="button"], [type="reset"] {
    background: none;
    border: none;
    cursor: pointer;
  }
}
