#page-flowhub .info .back {
  color: #4a4a4a; }
  #page-flowhub .info .back i {
    margin-right: .5rem; }

#page-flowhub .detail {
  margin-top: 0px; }

#page-flowhub .sdgs {
  display: flex;
  flex-wrap: wrap; }
  #page-flowhub .sdgs span {
    margin: 0.3rem; }

#page-flowhub button[type="button"], #page-flowhub [type="reset"] {
  background: none;
  border: none;
  cursor: pointer; }
